[2016-05-16 07:38] jaytaph commented on #1574
@mattbrictson @irvingwashington I'm not active on the given project anymore, but it was an ubuntu (12.04) system.

The issue only occurred when using two levels of symlinks, which indeed is not very common. However, imho it should not matter where a capistrano symlink points to: a file, socket, symlink or anything else (but not directories, as they are handled differently already). I've did a quic

[2016-05-16 08:45] thickpaddy commented on #1652
Hi,

Sorry, this issue is an unintentional side effect of my naive fix to make the post task lookup for after hooks namespace aware again, after another change to lazily bind the post task that affected this behaviour.

My code looks up the post task using the namespace of the original task, assuming that the current namespace matches the scope of the original task, but this isn't always true, as

[2016-05-16 13:49] mattbrictson commented on #1652
@thickpaddy Please see existing issue #1543 on that exact topic, and my PR #1547 which I believe does the same fix that you just mentioned. As you can see in that PR I was not able to merge the change because it causes prominent Capistrano plugins to break.

My conclusion was that `task.scope` may not be the *correct* way to look up the post task, but that ship has already sailed.

[2016-05-16 13:52] mattbrictson commented on #1574
OK, I close this for now. If someone has a real-world use case of linking non-files (e.g. sockets) then we can revisit this.

[2016-05-16 13:52] #1574 closed

[2016-05-16 14:49] irvingwashington commented on #762
I've briefly looked through this issue, and now I'm thinking that maybe Capistrano could simply detect if the destination path is relative (eg. `Pathname.new(t.name).relative?` ), and only then it would append it to shared_path. This would be a minimal change that would allow corner cases (when the path passed is absolute). Am I getting this right? Maybe configurable option is preferred? Either wa

[2016-05-16 14:57] thickpaddy commented on #1652
Thanks @mattbrictson, you've explained it in great detail, and yeah, it seems my quick fix to the post task lookup is the same as yours, which doesn't work with some plugins as you've pointed out :-(

The post task lookup in after hooks should at least be consistent with pre task lookup in before hooks, even if that doesn't match rake's behaviour, and my previous change broke that consistency. It

[2016-05-16 14:57] mattbrictson commented on #762
@leehambley Can you field this one? I have no experience with `remote_file` and it is not clear to me how it intended to be used.

[2016-05-16 15:13] leehambley commented on #762
Given that the issue went cold for 3 years, I think it might be safe simply to close it. `remote_file` was meant to be analgous to Rake's `file` targets (As a pre-requisite driven "build" system) the `remote_file` part of Capistrano was supposed, for example to allow us to depend on a file, or directory, and have the dependency resolution meet that by cloning repos, etc, etc, to fulfil the depende

[2016-05-16 17:19] mattbrictson commented on #762
OK, I'm on board with deprecating and eventually removing the `remote_file` feature. I'll create a new issue to track that.

[2016-05-16 17:21] mattbrictson opened #1679 "Deprecate the `remote_file` DSL"
As discussed in #762, @leehambley and I have decided to deprecate the `remote_file` feature so that it can eventually be removed from Capistrano.

That means we need to:

- [ ] Mention the deprecation in the CHANGELOG
- [ ] Update the documentation: http://capistranorb.com/documentation/advanced-features/remote-file/
- [ ] Print a deprecation warning when `remote_file` is used

[2016-05-16 17:21] mattbrictson commented on #762
Closed in favor of #1679.

[2016-05-16 17:21] #762 closed

[2016-05-16 17:39] mattbrictson commented on #1652
@thickpaddy Yes, I agree it may be possible to tweak the `after` behavior without breaking things. It looks like the trouble I was encountering was mostly regarding the `before` hooks.

[2016-05-16 20:47] #1650 closed

[2016-05-17 13:53] mattbrictson opened #1681 "Setting :application to a Proc causes cap to crash"
The logic used to validate `:application` expects a string value and will cause an exception to be raised otherwise. This prevents us from setting `:application` using a Proc, as originally reported here: https://github.com/capistrano/documentation/pull/186

#### Steps to reproduce

1. In `deploy.rb`, configure `:application` with a lambda, like this: `set :application, -> { "myapp" }`
2. Run `cap

[2016-05-17 14:30] #910 closed

[2016-05-17 21:20] matthutchinson commented on #1431
Yep, same thing happened to me today (all commands executed twice on the same server), when I upgraded to 3.5 (from 3.4.1) -- reverting back to 3.4.1 fixed the issue for now.

[2016-05-17 21:51] mattbrictson commented on #1431
I've never seen this before, so I can't do much to troubleshoot. My guess is that somehow your stage file (e.g. `production.rb`) is being loaded twice. This is theoretically possible because Capistrano uses `load` and not `require` to load the file. The question is what combination of circumstances is causing this to happen?

Are you manually requiring/loading your stage files in your Capfile, for

[2016-05-17 22:01] mattbrictson commented on #1431
@leevigraham I think I see your problem:

[code]

^ This is trouble.

You've told Capistrano that your stage definitions are in the `config/deploy` directory. But you also have a file called `deploy.rb` there, in addition to your stages.

Capistrano is going to assume `deploy.rb` represents a stage, and will create a corresponding Rake task called `deploy` to load that stage. But of course `deploy

[2016-05-17 22:31] leehambley commented on #1431
Good catch @mattbrictson - not to hijack this thread, but is that something worth adding to doctor, making sure that "reserved words" aren't used as stage names? (or, to warn about reserved words, at all somewhere, at least in documentation)

[2016-05-17 22:38] mattbrictson commented on #1431
Perhaps just a failsafe that prevents a stage from overriding/augmenting an existing task?

[code]

[2016-05-17 22:39] leehambley commented on #1431
that sounds like a sane starting place @mattbrictson

[2016-05-18 01:47] leevigraham commented on #1431
Great. This was an older project which hasn't been deployed for a while. I'll check the cap file again and see if this fixes the issue.

[2016-05-18 09:38] matthutchinson commented on #1431
I have a similar setup, and I haven't set `deploy_config_path` or `stage_config_path ` so it's relying on the defaults.

I tried renaming the `config/deploy.rb` file to `config/capistrano.rb` and setting;

    set :deploy_config_path, 'config/capistrano.rb'

But no luck, everything is executed twice on the same server.
Here's my [config/deploy.rb](https://gist.github.com/matthutchinson/9d8de8f0209

[2016-05-18 13:51] mattbrictson commented on #1431
Just to clarify:

^ This is still the standard practice for Capistrano 3.

What I was describing as problematic is when you put the `deploy.rb` *inside* the stages directory:

`config/deploy/deploy.rb` <-- bad

[2016-05-18 13:59] mattbrictson commented on #1431
@matthutchinson In your case, I think you have a problem in `production.rb`. You've specified a port number in one `role` declaration, but not the others. Capistrano is probably interpreting this as you declaring two distinct servers.

[2016-05-18 14:23] matthutchinson commented on #1431
@mattbrictson - bingo, that was it!  Removing the port option fixed it for me.  I'm unsure why I had that there in the first place, I think some much older verison of Capistrano required it for custom SSH ports.

[2016-05-18 14:26] #1431 closed

[2016-05-18 14:28] mattbrictson opened #1684 "Feature: display server/role data in doctor output"
Capistrano's `server` and `role` DSL can be confusing. In some cases the options from multiple declarations are merged into a single server, but not always. It is easy to make mistakes when specifying role names. And, crucially, there is no easy feedback mechanism to see what this DSL has actually effected, other than to run a `deploy` and check for problems.

Many issues have been raised regardin

[2016-05-18 14:35] leehambley commented on #1431
Over the years we've had different behaviours on whether a port marks a host as unqie, or just redefines it with a new port, etc, etc -- if you use v3.x you can also just commit a `.ssh/config` file with your port definitions in future, incase that's easier!

[2016-05-19 20:10] kenn opened #1686 "Re-consider how calling already invoked tasks should behave"
May be a proposal for v4.

Right now, the same task can get called only once, unless `Rake::Task[].reenable` is called explicitly.

[code]

[code]

However, I believe `reenable` should be set for each task by default, because:
- I know that's how rake is designed to work, but it's an implementation detail that users of capistrano shouldn't care. Let's keep in mind that even non-ruby devs are using

[2016-05-19 20:51] leehambley commented on #1686
I think it would be safe enough to put that into a "feature" release, we adhere to semver, so bumping from 3-4 will mean we've done a "rewrite".

All valid points, thanks for the contribution, if you wanted to take a shot at a patch we'd be glad to consider it.

For whatever it's worth we could try an intermediate release that hooks the `Rake::Task[].........` family of functions and directs peopl

[2016-05-20 16:58] marzapower commented on #1457
The official pages are not aligned with this issue: http://capistranorb.com/documentation/advanced-features/role-filtering/

I am using
`set :filter, :roles => %w{app web}`
as stated, but it will run the deploy chain on all the other servers too.

If I use
`set :filter, :role => %w{app web}`
everything works fine.

Is this wanted?

[2016-05-20 17:01] leehambley commented on #1457
We've had some issue with `role` vs `roles` being accepted in the keys - I think we decided that the docs are out of date, since there's people with code in the wild.

Personally it's a feature I never use, so it's hard to say what it *should* be, but I think `code > docs` in terms of deciding for A or B.

[2016-05-20 17:13] mattbrictson commented on #1457
@marzapower `:roles` didn't work before, but it was fixed in 3.5.0: #1465

If it still doesn't work for you in 3.5.0, we'll reopen this issue.

[2016-05-20 17:22] mattbrictson commented on #1684
Implemented by #1687

[2016-05-20 17:22] #1684 closed

[2016-05-20 18:22] marzapower commented on #1457
Sorry, it was my fault. I'm still on 3.4.x, I haven't yet updated to 3.5.0. No need to reopen the issue.

[2016-05-21 14:59] kenn commented on #1686
I'm wondering if there's any people who actually wrote a task that depends on the current behavior. For them, it's going to be a breaking change - but it's also believable that there are no one.

Simplest solution would be:

[code]

If we want to give an option to disable it:

[code]

But we can only support `Hash` args. I vote for always reenable, even though it's going to be a breaking change. O

[2016-05-23 10:42] leehambley commented on #1686
That's a monkeypatch I could live with, perhaps since this has the *potential* to be a breaking change, we could rather do something to issue deprecation warnings to people who're calling `reenable` already, that it'll be unnecessary in the future as we're going to make it the default?

[2016-05-24 00:36] kenn commented on #1686
I think it's going to be a breaking change for those who depend on the current (de-dup'd) behavior, by not calling `reenable`, so deprecation warning wouldn't help them.

I can't think of any solution without overly complicate the system (track all nested task calls and detect duplicate, etc.) unfortunately. I still think there's a good chance that no once is using that "feature" though.

I think

[2016-05-24 01:55] mattbrictson commented on #1686
I am conflicted on this one.

Over the years I've found most of my frustrations with Capistrano can be traced back to its roots in Rake. For whatever reason, certain aspects of Rake are very counterintuitive to me. Things like Capistrano's `invoke`, `before`, and `after` all occupy this weird middle ground that mixes Rake and procedural behavior.

We could, piece by piece, modify Capistrano to wor

[2016-05-25 20:25] leehambley commented on #1686
It's interesting that your opinion runs nearly 100% opposite to mine, I tend to think of problems in terms of "build systems" I don't think I've touched a project since I started my career that didn't have a `Makefile` or `Rakefile` that drove the whole thing, tests, builds, data collection, deployment, provisioning, etc, etc, etc - I seem to be wired to think of things in terms of dependency reso

[2016-05-25 20:55] mattbrictson commented on #1686
Good idea. That will alert people that the change is coming in a future release. If it turns out a lot of people are being annoyed by it and the change will cause widespread problems, there will still be time to back out.

[2016-05-25 21:05] leehambley commented on #1686
Quite a large method to patch, it seems - https://github.com/ruby/rake/blob/master/lib/rake/task.rb#L184

[2016-05-25 21:10] mattbrictson commented on #1686
Hmm. So I guess I'm not clear how far we're taking this.

* Are we re-enabling tasks only if they are invoked via Capistrano's `invoke` DSL method? Or are we changing Rake's execution model everywhere?
* What about prerequisites? If you invoke a task a second time, do the prerequisites of that task get re-invoked as well?

This feels like it could get messy.

[2016-05-25 21:12] leehambley commented on #1686
Suggest we shelve this, and make sure that there's a prominent warning directing people to this issue per my last suggestion, it's a bit of a shame that Rake makes that quite an awkward monkey patch.

We could also open a new stub issue "Decide how tasks should work..." but there's some valuable notes here now.

[2016-05-25 21:22] mattbrictson commented on #1686
How about this:

1. Re-title this issue "Re-consider how tasks should work" and add a **discuss** label.
2. Create a new issue: "Feature: Emit warning when invoke is used on a task that has already been invoked"

[2016-05-25 21:49] leehambley commented on #1686
Good shout, this is updated then, and I'll create the other issue now and link them.

[2016-05-25 21:50] leehambley opened #1689 "Feature: Emit warning when invoke is used on a task that has already been invoked"
See discussion in #1686 .

I think we have to monkey patch https://github.com/ruby/rake/blob/master/lib/rake/task.rb#L184 and hook in there (actually given that this only *reads* the value of `@already_invoked` we could just alias chain this method and emit a warning before hand if `@already_invoked` is truthy.

[2016-05-27 06:54] 1c7 opened #1690 "I want Translate capistrano website into chinese, what should i do?"
http://capistranorb.com/

:smile:

[2016-05-27 07:58] InsomniaZ commented on #1690
come on

[2016-05-27 08:07] 1c7 commented on #1690
@InsomniaZ  what?

[2016-05-27 11:37] leehambley commented on #1690
Hey @1c7 thanks for the kind offer!

I'd prefer that you didn't as we've got some incoming changes to the site planned, and the documentation is difficult to keep in sync and up to date already, only in one language (the native language of two of the most active contributors!)

Would the site be translated into a foreign language I'd be very concerned that we couldn't commit to keep it up to date.

[2016-05-27 11:53] 1c7 commented on #1690
@leehambley
I am asking around on Ruby China Community see if more people interesting
https://ruby-china.org/topics/30147

[2016-05-27 12:22] will-in-wi commented on #1690
@leehambley Do you know if there is software which allows us to track (ideally on a paragraph by paragraph level) which parts of the docs changed, and throw them in a queue for translation? It'd be nice to have the docs translated, and perhaps it would be doable if it was easy to mark which sections were up to date and help translate them…

With that said, perhaps it is better to have up to date d

[2016-05-27 12:49] leehambley commented on #1690
The only thing I've seen is Git backed book authorship tools

[2016-05-27 13:57] 1c7 commented on #1690
if you guys decide to use some translation tool, just let me know :D

btw, how http://capistranorb.com/ work?
some kind of CMS like wordpress? but write in Rails?
or just static website that generate by markdown document?

[2016-05-27 16:15] mattbrictson commented on #1690
The http://capistranorb.com site is generated using Jekyll, based on files in this repository: https://github.com/capistrano/documentation . There is a short README that explains how to build the site locally. We use GitHub Pages for hosting, which is free. Any code pushed to the `gh-pages` branch is automatically deployed to the site. It is mostly Markdown documents with some HTML and CSS.

Could

[2016-05-28 05:37] 1c7 commented on #1690
done.

https://github.com/capistrano/documentation/issues/191

:D

[2016-05-28 16:44] zavan opened #1691 "`ArgumentError: comparison of Symbol with String failed` when running cap production doctor"
#### Steps to reproduce
Not sure, I just ran `cap production doctor` for the first time on my project.
Deploys are working as usual.

#### Your configuration
`cap production doctor --trace`

** Invoke production (first_time)
** Execute production
** Invoke load:defaults (first_time)
** Execute load:defaults
Please enter 'production' if you know what you're doing (): production
** Invoke rbenv:vali

[2016-05-29 01:24] nextofsearch opened #1692 "Is there any way to print full commands without "..." that are displayed while deploying?"
Hi,

Is there any way to print full commands without "..." that are displayed while deploying? I'm troubleshooting of an issue that sidekiq is not running issue in multi-stage set-up even though there is no error while deploying.

#### Steps to reproduce
cap dev deploy

#### Expected behaviour
Sidekiq should start

#### Actual behaviour
There is no pid of sidekiq and no process either.

#### Your

[2016-05-29 06:21] leehambley commented on #1692
https://github.com/mattbrictson/airbrussh#configuration

[2016-05-29 06:21] #1692 closed

[2016-05-29 12:02] rscarvalho opened #1693 "Syntax Error on Ruby 1.9.3"
Ruby 1.9.3 doesn't support keyword arguments, and you're using them a lot here. If you do not support 1.9.3 please describe that [in your rubygems.org page](https://rubygems.org/gems/capistrano)

#### Steps to reproduce

I'm sure this is not specific to rails apps, but this was how I could get this reproduced:

1. Create a simple rails app
2. Configure `capistrano` and `capistrano-rails` in the Ge

[2016-05-29 13:10] leehambley commented on #1693
See https://github.com/capistrano/capistrano/commit/552eeaab6361ee283ae33d356ef73eb86ec3131e

[2016-05-29 13:10] #1693 closed

[2016-05-29 14:26] rscarvalho commented on #1693
@leehambley I see you changed it in the gemspec file, but I insist the information in **rubygems.org** is outdated: https://rubygems.org/gems/capistrano (The required version still says `>= 1.9.3`). Maybe more an admin task.

[2016-05-29 16:49] mattbrictson commented on #1693
@rscarvalho rubygems.org simply shows the requirements of the latest *published* released. We have not yet published a new version of Capistrano since this was fixed. This will probably happen in the next few weeks.

[2016-05-29 17:35] mattbrictson opened #1694 "Doctor incorrectly reports ":git_strategy is not a recognized Capistrano setting""
The `:git_strategy` variable is known by Capistrano and used by the built-in Git SCM. So this warning from `doctor:variables` is wrong:

[code]

[2016-05-29 17:37] mattbrictson commented on #1694
If someone wants to try fixing this, it should just be a matter of adding `:git_strategy, :hg_strategy, :svn_strategy` to `VariablesDoctor::WHITELIST`.

[2016-05-30 11:44] ajahongir commented on #1227
https://coderwall.com/p/4k1lja/fixing-capistrano-3-deployments-after-a-repository-change

[2016-05-30 12:34] will-in-wi commented on #1227
I've run into this several times. The solution in each case is just to nuke the repo directory. This isn't an issue when it is just one server, but in one case I'm deploying to 6 servers. However, changing the repo url is rather uncommon, so it is most just an annoyance.

For a workaround, try this: https://rubygems.org/gems/capistrano-git-delete_repo

[2016-05-30 12:35] will-in-wi commented on #1227
As I was reading the comments in the link above, I noted that someone suggested this:

[code]

This might be worth making a standard part of the Git deployment workflow. I doubt that it would take long on deploy, and might solve this issue.

[2016-05-30 16:29] leehambley commented on #1227
I can't see what version of Git that was added to - I'll check the changelogs - https://git-scm.com/docs/git-remote

[2016-05-31 16:15] mattbrictson commented on #1691
Are you calling `set` with a string key? Like this:

[code]

Instead of this:

[code]

Regardless, the doctor command shouldn't crash, but I want to understand why it isn't working in your case. Thanks for the report!

[2016-05-31 16:51] zavan commented on #1691
No, just checked. Also couldn't find anything in any of the capistrano gems I'm using (all in the latest version).

You're welcome, thanks for the gem!

[2016-05-31 17:23] mattbrictson commented on #1691
@zavan Can you try using my branch in PR #1695 and let me know if it fixes the bug for you?

[2016-05-31 18:01] zavan commented on #1691
Working!

After seeing the output:
[code]
I believe the problem is related to my code in `production.rb`:
[code]

[2016-05-31 18:49] #1691 closed

[2016-05-31 18:55] mattbrictson commented on #1691
@zavan Ah, that's not how `ask` is intended to be used. Use `ask` by itself, not in conjunction with `set`.

E.g.

[code]

This will then prompt and automatically set the value based on the user's input.

There is no easy way to change the text of the prompt; Capistrano will always prompt using this template:

[code]

If you think custom prompts would be a nice feature, feel free to open a feature

[2016-05-31 19:04] zavan commented on #1691
I was following [the documentation](http://capistranorb.com/documentation/getting-started/user-input/) :stuck_out_tongue:

I will check how hard it will be to do this, if it's not veeery hard I may implement it.

Thank you for the support!

[2016-05-31 19:15] mattbrictson commented on #1691
Yeah… pretty sure the documentation is wrong. I'll take care it. Thanks!

[2016-06-03 16:24] omouse commented on #1655
@FooBarWidget copyleft licenses are becoming more favourable, everyone's getting tired of the copyright regime and of companies taking code without contributing back as they do now with the MIT/BSD licenses.

It's a shame that the larger ecosystem of Ruby devs doesn't quite understand the importance of the free software philosophy and why we should resist proprietary software but that's not what t

[2016-06-04 05:26] lgh8820 opened #1697 "Support Java code release?"

[2016-06-04 11:10] will-in-wi commented on #1697
Could you expand? What kind of Java code? What does a release look like? Does it involve compiling a war file and uploading to Tomcat?

[2016-06-05 03:15] lgh8820 commented on #1697
Yes, we need to compile Java code war and jar, and upload it to Tomcat.

[2016-06-05 20:55] mattbrictson commented on #1697
To my knowledge there isn't an off-the-shelf plugin for Capistrano that does that sort of WAR/JAR deployment to Tomcat. You might check Stack Overflow to see if anyone has attempted it and is willing to share.

Unless you are already invested in Capistrano, I recommend not using Capistrano for this particular scenario. It sounds like you want to build a WAR/JAR locally and then upload it. That goe

[2016-06-05 20:55] #1697 closed

[2016-06-06 01:15] lgh8820 commented on #1697
Okay, thank you for your patience to answer, publishing tools or other code, thank you very much

[2016-06-06 22:09] Bertg opened #1698 "Suggestion: Primary should yield multiple servers (again)"
In the 2.x versions of Capistrano indicating multiple servers as primary would execute the commands on each primary server. In the 3.x series this is only the first server.

We have a specific use case where this is required:

We have the same app deployed to multiple servers, and these exist in isolation. We do like to update these at the same time. This worked great for migrations in the 2.x ser

[2016-06-06 22:43] will-in-wi commented on #1698
I think this was fixed in https://github.com/capistrano/rails/pull/168

[2016-06-07 00:04] mattbrictson commented on #1698
Yes, in the latest `capistrano-rails` (in master, not yet released), you can now configure database migrations to run on whatever servers you want. See https://github.com/capistrano/rails/pull/168 for details. It sounds like that will address your use case.

I would rather not change the behavior of `primary`.

Let us know if the new `capistrano-rails` behavior works for you.

[2016-06-07 12:56] Bertg commented on #1698
@will-in-wi & @mattbrictson Thx for the info about the change in ```capistrano-rails```. This helps my specific case.

I do think that the suggested behaviour could be useful. If not added each capistrano plugin will have to do their own version of the fix that ```capistrano-rails``` has done.  I'll leave it to your judgement.

[2016-06-07 12:57] leehambley commented on #1698
Primary is specifically intended to be used for things where you can name one server to be specifically used.

Thanks for reporting that fixed.

[2016-06-07 12:57] #1698 closed

[2016-06-07 16:51] taf2 commented on #1218
how do you disable the prompt... ?

[2016-06-07 16:53] taf2 commented on #1218
solution roll back to older version 3.3.5 - why isn't there either an option to never interactive prompt?

[2016-06-07 17:18] mattbrictson commented on #1218
Metrics were completely removed in Capistrano 3.4. Upgrade to 3.4 or newer and you are all set.

[2016-06-07 17:20] taf2 commented on #1218
awesome, so i'm not against metrics at all i think you should have metrics... just not prompt or if i answer yes never prompt again 👍   but i'll upgrade now too

[2016-06-07 19:16] bogdanRada commented on #1675
I personally have used that line like this:
[code]
And this configuration seems to be from https://github.com/capistrano/bundler . You migth want to take a look on their documentation.

[2016-06-08 16:45] ShaneSaww commented on #1694
@mattbrictson I have a commit ready to go that fixes this issue, but when setting up a new laptop I messed my git config. I'm going to fix that then re-upload this commit and open a PR once everything looks good. Assuming that works for you.

[2016-06-08 17:04] mattbrictson commented on #1694
Thanks! The commit looks good and I would appreciate the PR once you are ready. That said, please see if you can also include a test and a CHANGELOG entry in the PR. I can give you pointers on writing the test if you get stuck.

[2016-06-08 21:48] ShaneSaww commented on #1694
@mattbrictson Here is the new commit(if you want to make sure everything is good).
I started working on the test, but I'm not 100% on how to best test it, so any guidance would be helpful.

[2016-06-08 21:59] mattbrictson commented on #1694
OK, can you please open a PR with what you have so far? We can move the discussion there.

Don't worry about making the commit perfect, we can always make tweaks and clean things up before the PR is ultimately merged. The important thing is to have a PR so there is a natural place for the discuss and review.

[2016-06-08 22:14] ShaneSaww commented on #1694
Awesome! PR is opened.

[2016-06-09 17:43] mattbrictson opened #1700 "Using set /w proc leads to confusing behavior with append, validation, mutation"
Background:

The `set :var, -> { ... }` style of passing a Proc to delay execution is a fairly common technique to set values that are lazily executed. This is similar to the `let` syntax in RSpec.

Typically (in my experience), we do this when one variable depends on another. For example, it is often the case that a value must include the stage name. At the time of declaring a variable in `deploy

[2016-06-09 17:44] mattbrictson commented on #1700
Additionally, Procs also cause problems with validation, as discussed here: https://github.com/capistrano/capistrano/pull/1683

[2016-06-09 18:13] mattbrictson commented on #1700
Some ideas:

* Add a `stage:loaded` task that is empty, but can serve as a hook for plugin developers so they can set values after a stage's overrides have been loaded.
* Make `append` "proc-aware" so that it lazily appends values if it detects the Array is lazily defined.
* Likewise for lazy validation.
* Add a `merge` DSL that does the same thing as `append`, but for lazily merging values into a

[2016-06-09 21:59] #1694 closed

[2016-06-13 10:03] jrean commented on #985
@nathanstretch I ended here, I'm encountering the same kind of issue. I'm using my own scripts to deploy and when I point my symlink to my new build, the link is not updated... I just tried what you both suggested but it doesn't work.

- Did you come with a working solution? (I'm on PHP7)

What do you mean?

[2016-06-13 11:53] jrean commented on #985
If it can help someone, this tool is just awesome and will do what has to be done...
`http://gordalina.github.io/cachetool/`

[2016-06-13 16:57] Aqualon opened #1701 "Capistrano 2.15.8 release missing changes?"
Hi,

I just saw, that capistrano 2.15.8 exists on rubygems.org and according to gem-compare only the version changed and nothing else was changed codewise

[code]

What's the reasoning behind this release? Or was it supposed to contain the two commits by @eric I see in https://github.com/capistrano/capistrano/commits/legacy-v2 which are not in the release?

[2016-06-13 17:10] leehambley commented on #1701
it was not supposed to contain any new commits, it was a canary release to test how many people had `~> 2.15.0` vs `2.15.7` hard coded in their gemfiles and gemspecs to measure how much effort it was worth putting into maintaining old versions, and/or thinking about starting to force people to upgrade.

See the notes on the releases page:

* https://github.com/capistrano/capistrano/releases/tag/v2

[2016-06-13 17:10] leehambley commented on #1701
@eric do you recall why we didn't release an updated version of 2.x.x at the time? (sorry to drag you into a thread six months after the fact)

[2016-06-13 19:45] eric commented on #1701
I don't recall why we didn't release it, but I definitely would be in favor of it.

[2016-06-14 21:39] DylanFrese commented on #929
I've written an faux-SCM plugin for Capistrano that copies a set of files over to the remote (using either tar + gzip or rsync over a Net::SSH pipe). I think that having the remote server *pull* the sources from some location on the internet is the wrong way to think about deployment (in some cases it's unreasonable to have a webserver even be able to authenticate to a private repository), and hav

[2016-06-15 16:34] mattbrictson commented on #929
@DylanFrese I think many people would appreciate a robust rsync plugin for Capistrano. This isn't my usual method of deployment, and I don't have much experience with rsync beyond the basics, so I'm afraid I can't offer much implementation advice.

No, we have a long-term goal of moving all SCM implementations out of Capistrano and into plugins. In terms of official documentation and sample code m

[2016-06-15 18:50] DylanFrese commented on #929
@mattbrictson

Hey Matt.

I understand this. By 'by default', I don't mean that the functionality is present in the capistrano library ('capistrano/capistrano'), just that the functionality is in some way made 'official'. If users are expected to also `gem install` a Capistrano SCM plugin when they first install Capistrano, then I suppose there would be no difference.

Using interprocess communica

[2016-06-15 19:35] mattbrictson commented on #929
Thanks for taking the time to explain your use case. I understand that there are lots of scenarios like yours where deploying "from source" on the server itself is impractical, especially when expensive compilation steps are involved.

I also understand how integrating rsync is inherently complicated if you want to share Capistrano's SSH config. I'm impressed you have it working! Very cool.

If th

[2016-06-15 20:07] DylanFrese commented on #929
The work that could be done on SSHKit's end is to abstract away the process to add a socket to Net::SSH or each backend's internal poll(2)/select(2) loop. I would expect this would be quite difficult to design from an API perspective and would cause some API bloat.

The other option is to explicitly support each backend on my side, possibly accessing normally private methods. The two backends I'm

[2016-06-16 17:15] vpuzzella opened #1702 "update_asset_mtimes doesn't find manifest"
Version 2.15.8
#### Steps to reproduce
1. run cap deploy:assets:update_asset_mtimes
#### Expected behaviour

Should successfully find manifest file and capture content
#### Actual behaviour

Does not find manifest file. I believe the bash command is incorrect. The wildcard should be placed outside of the quoted file path, like so:

[code]

[2016-06-16 17:29] mattbrictson commented on #1702
Thanks for the report! Generally speaking we no longer support Capistrano 2.x, so I suggest testing out your proposed fix with your own fork of the project.

We'll consider accepting a PR for 2.x if you can make a strong case that this is a critical bug.

[2016-06-16 17:32] vpuzzella commented on #1702
Patch: https://github.com/capistrano/capistrano/pull/1703

[2016-06-16 17:45] mattbrictson commented on #1702
So everyone using 2.x to deploy a Rails app is seeing all of their assets being deleted? If so I would think this would be widely reported. Is this a recent regression?

[2016-06-16 18:57] vpuzzella commented on #1702
Hard to say. Might be platform related (centos in my case). Or, not many people use the deploy:assets:clean_expired task. In may case, I added `after "deploy:restart", "deploy:cleanup"` which triggers ```deploy:assets:clean_expired```.

[2016-06-16 19:00] vpuzzella commented on #1702
Here is a simple test I ran on my centos box:
[code]

[2016-06-16 19:08] mattbrictson commented on #1702
OK, thanks for taking the time to explain. Can you do some more digging as to why the code was written the way it was? For example, it seems that your change will undo the fix for https://github.com/capistrano/capistrano/issues/578 (see also commit https://github.com/vpuzzella/capistrano/commit/57633b211f4fa260c2a85e98c2558497c4ac4fb4).

Please understand that I have no way of testing v2, so I hav

[2016-06-16 19:24] vpuzzella commented on #1702
The fix in #578 adds quotation marks and keeps the wildcard within the quotes. I'm proposing moving the  wildcard outside of the quotes which doesn't exactly 'undo' the original fix.That said, I still think this may be platform related and I understand the reluctance. I'm happy to use my own fork until I have a chance to upgrade.

[2016-06-16 19:25] vpuzzella commented on #1702
Some reference: http://stackoverflow.com/questions/6363441/check-if-a-file-exists-with-wildcard-in-shell-script

[2016-06-17 16:27] mattbrictson commented on #1702
OK, given the risks let's just leave this open for now.

[2016-06-17 17:00] mattbrictson opened #1705 "Feature: Add net-ssh to list of gems reported by `cap doctor`"
Right now the `doctor:gems` task reports gem versions for the following gems:

* capistrano
* airbrussh
* rake
* sshkit
* *all gems starting with capistrano-*

I think we should add **net-ssh** to this list, because it is a crucial part of Capistrano's behavior, and certain versions of net-ssh have been known to cause bugs (e.g. https://github.com/capistrano/sshkit/issues/357).

If someone wants t

[2016-06-17 20:57] mattbrictson opened #1710 "Remove `remote_file` method"
We've deprecated `remote_file` with a promise that it will be removed entirely in Capistrano 3.7.0. This issue is a reminder to remove it.

See #1679.

[2016-06-17 20:58] #1705 closed

[2016-06-20 15:23] #1679 closed

[2016-06-22 14:58] rjrobinson opened #1712 "errors with postgresql 9.5"
So, I recently upgraded my Postgres database to version 9.5. The existing app that was running connected to the database just fine.

Its when we deployed changes that started causing issues. We kept getting

`password authentication failed for user "new_database_name"`

Which was really odd. The `database.yml` files were all updated.

database.yml
[code]

We started seeing issues, where the `new_d

[2016-06-22 15:51] mattbrictson commented on #1712
Hi, welcome to the Capistrano issue tracker. This is the core Capistrano project, which has no relation to Rails or PostgreSQL. If you think you've found a bug with Capistrano's Rails deployment tasks, then you should report your issue in capistrano-rails repository, here: https://github.com/capistrano/rails

It looks to me that you have a problem with the configuration of PostgreSQL itself, or pe

[2016-06-22 15:51] #1712 closed

[2016-06-27 10:11] leehambley commented on #1701
Released

* https://github.com/capistrano/capistrano/releases/tag/v2.15.9
* https://rubygems.org/gems/capistrano/versions/2.15.9
* https://github.com/capistrano/capistrano/releases/tag/v2.15.9

[2016-06-27 10:11] #1701 closed

[2016-06-28 05:04] anklos opened #1713 "cannot find bundler on the instance"
---

#### Steps to reproduce

1. error:
[code]

2. on instance, `bundle` is included in the `GEM_PATH` as above:

[code]

#### Expected behaviour

run bundle install

#### Actual behaviour

cannot find bundle bin

#### Paste Capistrano's `doctor` output here (`cap <stage> doctor`):

[code]

[2016-06-28 06:24] leehambley commented on #1713
You might want to reopen this issue on capistrano/bundler

[2016-06-28 07:41] anklos commented on #1713
find the issue, needs to use bundle binary from wrappers!

[2016-06-28 07:41] #1713 closed

[2016-06-28 18:38] mattbrictson opened #1715 "Refactor `repo_url` to remove Git-specific behavior"
Right now the implementation of the `repo_url` helper method has some special logic that is Git-specific. It looks for the presence of `:git_http_username` and `:git_http_password` and uses these to mutate the original `:repo_url`.

From `dsl/paths.rb`:

[code]

This is a handy feature, but I believe this is the wrong place to implement it. It should live in the Git SCM plugin.

Since we eventuall

[2016-06-30 15:24] mattbrictson opened #1716 "Improve sample deploy:restart task in deploy.rb template?"
I have seen multiple Stack Overflow questions where people are trying to use the `deploy:restart` example as-is and wondering why it "doesn't work".

This is what is included in the default `deploy.rb` generated by `cap install`. Note that there is no comment explaining what this code is for:

[code]

Of course, we can't hand-hold people to implement a `deploy:restart` task, simply because the tas

[2016-07-01 07:00] leehambley commented on #1716
How about we just remove it @mattbrictson ? We could easily replace it with a "Learn how to write your own custom tasks" comment, and I'll invest a couple of hours to make a quick tutorial video for capistranorb.com.

I selected this example off the top of my head a few years ago, fresh from having ploughed through documenting [as many examples](https://github.com/capistrano/sshkit/blob/master/EXA

[2016-07-01 19:02] mattbrictson commented on #1716
I agree, let's remove it for now until we have a link to put there. I'll open a PR.

[2016-07-01 19:32] #1716 closed

[2016-07-04 02:58] dan-klasson commented on #1669
This happened to me too. This should be considered a bug IMHO.

[2016-07-04 16:39] mattbrictson commented on #1669
@dan-klasson Can you elaborate? The OP had a problem with the default colors making errors unreadable in his terminal. Is that what you are referring to?

[2016-07-05 01:53] dan-klasson commented on #1669
Yes exactly. Other errors I have been able to see just fine. Just not this
one.

On Mon, Jul 4, 2016 at 11:40 PM, Matt Brictson <notifications@github.com>
wrote:

[2016-07-05 06:54] yanchengv opened #1720 "cap production deploy failed"
`DEBUG [1a31c418] Running /usr/bin/env [ -L /data/www/wechat/releases/20160705062743/tmp/pids ] as deploy@123.53.163.52
DEBUG [1a31c418] Command: [ -L /data/www/wechat/releases/20160705062743/tmp/pids ]

DEBUG [1a31c418] Finished in 0.017 seconds with exit status 1 (failed).

DEBUG [22cd258a] Running /usr/bin/env [ -d /data/www/wechat/releases/20160705062743/tmp/pids ] as deploy@123.53.163.52
DEBU

[2016-07-05 17:41] mattbrictson commented on #1720
Please use the issue template when reporting bugs. We need more information about what you are trying to do and where it is failing.

As it stands I don't see any errors in the log you posted. Closing.

[2016-07-05 17:41] #1720 closed

[2016-07-05 18:20] mattbrictson commented on #1669
I've opened a bug report here: https://github.com/mattbrictson/airbrussh/issues/84. If you have any suggestions for how to reproduce or fix the color issue, please add to the discussion there. Thanks!

[2016-07-07 07:49] heaven commented on #413
We have some exports in /etc/profile.d/ which don't load with capistrano.

[2016-07-07 09:02] leehambley commented on #413
That is in no way related to this closed issue, have you read the FAQ? http://capistranorb.com/documentation/faq/why-does-something-work-in-my-ssh-session-but-not-in-capistrano/#

[2016-07-07 09:34] heaven commented on #413
Which questions it is supposed to answer? I am pretty sure that I do know the difference between log in and interactive sessions, but I don't see how to load my environment constants during deploy with capistrano, without duplicating them manually in deploy.rb. Or should this FAQ convince me that I don't need to because capistrano doesn't have an option for this, showing me some diagrams and/or sc

[2016-07-07 10:11] leehambley commented on #413
The FAQ explains why we *intentionally* do not load those files.

[2016-07-08 07:43] trejkaz commented on #1050
The copy strategy was useful for us. Not everyone is working on [I would say "toy", but the right word might be "royalty-free"] projects where they can just be stored in GitHub, and in our case, company policy states that we're not allowed to host a mirror of the repository physically outside the office. It doesn't matter that the code has to be on the server in order to execute it. The board of d

[2016-07-08 16:45] mattbrictson commented on #1050
I'm not sure if you are trolling with this comment, but I will take the bait and point out that Capistrano absolutely works with commercial projects. There is no need for a repository to be public or "royalty-free" in order to use it. I use Capistrano to deploy commercial projects every day, as I'm sure many other people do. You can use private repositories on GitHub or Bitbucket, private GitLab,

[2016-07-09 02:39] will-in-wi commented on #1050
I'll add to this that I've deployed SVN projects with Capistrano and use GitLab (not GitHub) internally extensively. 800+ employee enterprise here, we use Capistrano for deploying dozens of Rails, PHP, and Perl applications.

Once #1572 gets merged, I'll add Copy to my shortlist of SVN plugins to try to write. That one might be tricky as Capistrano assumes that the server can access the files.

Th

[2016-07-10 14:38] trejkaz commented on #1050
The comment about toy projects was echoing one of the Capistrano developers here, who was calling projects "toy projects" just because they wanted the copy strategy, making wild claims like that you would only use that strategy if your code weren't in source control. The flip-side view I'm putting forward is that you would only _not_ use that strategy if your company policy is lax about where it p

[2016-07-10 16:45] will-in-wi commented on #1050
To make sure I understand: You are running an internal SVN server. When you say strict source control, you are referring to not allowing the code to leave your firewall.

Do you also have your application servers behind the firewall? Can your application servers access your SVN server?

The above described scenario is exactly what I have. When I initiate a deployment from my laptop (or the CI serv

[2016-07-11 21:29] mattbrictson commented on #1050
If you want to pursue this approach, try using the branch for PR #1572. Among other things, it adds support for `set :scm, nil`.

[2016-07-14 10:36] lhtdesignde opened #1722 "Undefined method `config'"
Hi guys,
I'm running into an error when trying to deploy. I'm using version 3.5.0

`.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/slackistrano-2.0.1/lib/slackistrano/capistrano.rb:73:in `block in post': undefined method `config' for #<Capistrano::Configuration:0x007f9454232ec8> (NoMethodError)`

Not sure where to look. Please maybe just point me to what this could be caused by. Thanks!

[2016-07-14 11:30] troelskn commented on #1722
Seems to be a problem in slackistrano, a 3rd party addon. Suggest you open an issue at https://github.com/phallstrom/slackistrano

[2016-07-14 11:30] leehambley commented on #1722
Please make sure you are using a plugin designed for Capistrano 2.

[2016-07-14 11:30] #1722 closed

[2016-07-14 11:50] lhtdesignde commented on #1722
sorry yes was an old slackistrano plugin. thank you!

[2016-07-15 19:25] bogdanRada opened #1725 "Question. Is it possible to specify a custom Capfile from command line?"
Hello,
   First of all i want to thank You for the great work You are doing. I love this gem.

   I love it so much that i am working on a open-source proiect for deploying multiple applications în paralel . You can find it here: [capistrano_multiconfig_paralllel](https://github.com/bogdanRada/capistrano_multiconfig_parallel)

I am working on version 2.0 which now is in a release candidate version

[2016-07-15 20:29] mattbrictson commented on #1725
Yes, Capistrano is built on Rake, and so it accepts the `-f` option to specify the Rakefile/Capfile.

[code]

Is that what you had in mind?

[2016-07-15 20:31] bogdanRada commented on #1725
Yes. I had no idea about that option . Awesome . You made my Day :)

[2016-07-15 20:31] #1725 closed

[2016-07-15 20:35] #1674 closed

[2016-07-15 20:35] mattbrictson commented on #1689
Fixed via #1689.

[2016-07-16 00:24] mattbrictson commented on #1710
Note that there is also a Cucumber feature that needs to be removed: https://github.com/capistrano/capistrano/blob/v3.5.0/features/remote_file_task.feature

[2016-07-16 01:10] mattbrictson commented on #1689
Reopening since #1724 was reverted.

[2016-07-18 17:33] mattbrictson commented on #1686
My current feeling on this is that we should limit our changes to Capistrano's DSLs method, and not alter Rake itself.

Perhaps we leave `Capistrano::DSL#invoke` unchanged (to preserve backwards compatibility), and introduce a new method:

[code]

[2016-07-19 03:16] zhanghqgit opened #1728 "NoMethodError: undefined method `validate' for main:Object"
cap version :3.4.0

Gemfile:
[code]

Capfile:
[code]

then in  deploy.rb, i define a validation like below:
[code]

[2016-07-19 03:34] mattbrictson commented on #1728
Hi, the `validate` feature is not available in Capistrano 3.4.0. You need to upgrade to Capistrano 3.5.0.

The changelog is incorrect in this case. (It says the validation feature was introduced in 3.3.3, which is wrong.) This mistake was probably due to a bad merge. I'll fix it.

[2016-07-19 03:34] #1728 closed

[2016-07-19 05:58] zhanghqgit commented on #1728
thanks a lot

[2016-07-19 05:59] zhanghqgit commented on #1728
also for the Capistrano::ValidationError

[2016-07-19 17:09] #1689 closed

[2016-07-20 17:38] HenleyChiu commented on #634
To be fair, putting issues in a public facing site like Github makes it so much easier to discover via Google (which I just did) vs. a mailing list, which is not as easily accessible by crawlers. I'd love it if people kept putting issues here, even if you're breaking the "rules".

[2016-07-20 19:22] dmitrypol opened #1732 "Cannot deploy with Capistrano 3.5.0 after upgrade to Ruby 2.3.1p112 (2016-04-26 revision 54768)"
Worked with Ruby 2.1.  This happens when deploying to multiple servers at once.  Server is Ubuntu 14.04.  Rails 4.2.6.  Same behaviour with Cap 3.2 and master.

It seems be creating self-referencing symlinks for log/log, public/system/system, tmp/sockets/sockets, tmp/pids/pids, tmp/cache/cache, vendor/bundle/bundle

**my gemfile**
gem 'capistrano', '3.5.0'
gem 'capistrano-sidekiq'
gem 'capistrano-

[2016-07-20 20:24] leehambley commented on #1732
The output:

[code]

Would suggest that this is a server problem, not a Ruby version, or Capistrano problem.

[2016-07-21 02:02] mattbrictson commented on #1732
Closing since this was cross-posted at Stack Overflow and the OP says it has been fixed.
http://stackoverflow.com/questions/38489364/cannot-deploy-with-capistrano-3-5-0-after-upgrade-to-ruby-2-3-1p112-2016-04-26

[2016-07-21 02:02] #1732 closed

[2016-07-21 13:41] dan commented on #468
@nigelramsay Did you ever resolve this?

[2016-07-21 22:56] nigelramsay commented on #468
@dan wow, that was 3 years ago. I can't remember sorry.

[2016-07-22 06:21] JohnSmall commented on #1681
How come this is closed? It's definitely broken in version 3.5. I just upgraded from 3.4 to 3.5 and I get this error, even when I do cap -T, not even deploying.

Do we have to wait till the next bug fix release?

[2016-07-22 14:38] mattbrictson commented on #1681
This issue was closed by PR #1711, which was merged on June 21. That means it is fixed in master and will be included in the next release. This is typical of most open source projects on GitHub, where issues are closed once they are fixed in the main development branch.

We don't have a fixed release schedule for Capistrano, so I can't promise when the next version will be published, but in the me

[2016-07-24 13:27] olbrich opened #1735 "Stage dependency requirement should check all specified tasks for a stage rather than just the first one"
#### Rationale

On rare occasions it is necessary call tasks before the stage definition file is loaded.  For example, I have a task that sets the AWS_REGION and needs to be executed before the stage file is loaded.

#### Actual behavior

Capistrano checks the first task called to see if it's a stage or a default task. If it is not, the stage dependency message is emitted.

#### Requested behaviou

[2016-07-25 00:58] leehambley commented on #1735
First thoughts:

- set your aws region in a task after the stage definition (`$ cap stage set-aws-region deploy`)
- make the aws region part of your stage

You addressed the first idea when you mentioned

Could you elaborate on what set of circumstances lead to this?

[2016-07-25 18:30] milushov commented on #1398
same issue on the last `3.5` version, it's so weird to move symlink somewhere.. 😬

[2016-07-25 19:00] bogdanRada commented on #1398
Ahh yes, forgot to update this thread, but suggestion from @chrisbloom7  really helped me and i fixed this a long time ago :) Maybe you can try same thing @milushov  and see if that works. For me it did the trick :)

[2016-07-26 11:51] olbrich commented on #1735
The stage file dynamically detects the servers present within a region that are part of the stage based on instance tags, but the region needs to be set so it can properly determine which one to use.  I'm trying to setup our system so that I can replicate the same setup in two different regions (for disaster recovery purposes).

[2016-07-26 15:03] leehambley commented on #1735
Alternative @olbrich if you know that you're always going to need this

[code]

(If I remember Rake correctly, this "reopens" `production` and `staging` and adds `:set_region` as a prerequisite, so it `:set_region` will run before the stage task. This might work?

We have a method that will list all stages, so rather than enumerate one line per stage, you could call [this](https://github.com/capis

[2016-07-26 18:32] #1155 closed

[2016-07-26 18:38] mattbrictson opened #1736 "Add acceptance test for deploy:rollback"
In general, Capistrano has several acceptance tests in the form of Cucumber features, and also many RSpec tests. Overall coverage is pretty good.

**However we are completely missing any kind of test for the `deploy:rollback` task.** This includes the general rollback functionality, plus the new `ROLLBACK_RELEASE` option that was recently added in #1731.

For reference, the rollback behavior is do

[2016-07-27 08:22] fnordfish opened #1738 "Git SCM fails when :local_user contains a space"
#### Steps to reproduce

1. Use the GIT SCM strategy
2. Setup the `:local_user` variable so that it contains a full name (eg: `Robert Schulze`. actualy, I was reading it from `ENV["GIT_COMMITTER_NAME"] || ENV["GIT_AUTHOR_NAME"]`)
3. Try to deploy

#### Expected behaviour

The `git-ssh` wrapper script should be callable.

#### Actual behaviour

[code]

Looking at the target host, I can see, that th

[2016-07-27 10:03] jitendrak1 commented on #1202
Hello friends i am also use Capistrano gem, and one more thing I am trying to my project from bitbucket branch. I have already upload my project on bitbucket branch thats name "test" branch, Now i want to deploy this branch on my aws(ec2) sever, when I executed "bundle exec cap staging deploy" command then I got following errors...

ubuntu@ip-***IP Address***:~/project_folder$ bundle exec cap stag

[2016-07-27 19:00] mattbrictson commented on #1738
Thanks for the detailed report! I agree, this is a bug. Would you be comfortable contributing a PR? I think a `gsub` call to replace non-alphanumerics with hyphens when constructing the `:git_wrapper_path` would be a reasonable solution.

https://github.com/capistrano/capistrano/blob/b751b68b8d99c05236f744be5da49e42ddff8c06/lib/capistrano/tasks/git.rake#L9-L10

[2016-07-27 21:42] fnordfish commented on #1738
Sorry, but I actually won't be able to make the time soon. So, this one is up for grabs :)

[2016-07-27 21:57] mattbrictson commented on #1738
OK, first come first served, whoever wants to take it! 😄

[2016-07-27 23:03] mattbrictson commented on #1681
The fix in #1711, as reported by @deekthesqueak, is incomplete.

Specifically:

[code]

[2016-07-28 11:50] jesperrojestal opened #1740 "Capistrano 3.6.0 breaks when used with Rake < 11.0.0, despite gemspec that allows it"
#### Steps to reproduce

1. Have rake version '>= 10.0.0' and '< 11..0.0' installed either via dependencies or specified in Gemfile
2. Install Capistrano
3. bundle exec cap -T --trace

#### Expected behaviour
Should show available capistrano tasks

#### Actual behaviour
[code]

looking at line 16 of capistrano-3.6.0/lib/capistrano/dsl.rb reveals
[code]
Digging around the rake github repo reveals t

[2016-07-28 14:17] mattbrictson commented on #1740
Thank you very much for the report! Yes, this is a serious bug.

[2016-07-28 14:19] mattbrictson commented on #1740
@troelskn since this is related to your PR #1730, can you investigate and propose a fix for this? Perhaps we need to monkey patch Rake < 11 to expose `already_invoked`.

[2016-07-28 14:21] mattbrictson commented on #1740
BTW, this is the Rake PR that exposed `already_invoked`: https://github.com/ruby/rake/pull/93

[2016-07-29 11:49] troelskn commented on #1740
Yep. I'll take a look at it.

[2016-07-30 00:30] mattbrictson commented on #1681
Anyone affected by this bug please take a look at PR #1739 and let me know if it is a good fix for you. Thanks!

[2016-07-30 12:40] will-in-wi commented on #1738
The fix itself is trivial, but I'm not sure where to write a test for it. Any suggestions?

Also, is this still relevant after https://github.com/capistrano/capistrano/pull/1572 goes in?

[2016-08-01 08:49] SaiVardhan commented on #1710
@mattbrictson  Can you help me to get started with my contribution on this

[2016-08-01 11:15] SaiVardhan opened #1743 "Capistrano Cucumber features are failing"
Hi,

When I try to run the capistrano cucumber features they are getting failed.

I installed bundler(1.10.5),Virtual Box and Vagrant. I can see a failure count of **13** features.

I tried running `bundle _1.10.5_ exec rake features`

[2016-08-02 03:33] leehambley commented on #1743
Can you post your output please, and try and fulfil some of the fields listed in the issue template that you deleted.

[2016-08-02 22:27] will-in-wi commented on #1710
@SaiVardhan I'd suggest taking a look at the diff in https://github.com/capistrano/capistrano/commit/15085fd952cd1ea66cd2c0fd25f00f3f6eda0460.

I'd delete the `#remote_file` method in `lib/capistrano/dsl/task_enhancements.rb` and make all the tests pass again.

That'd at least be a start.

[2016-08-03 00:05] mattbrictson commented on #1738
Yes. I'll need to make sure it is not clobbered by the merge of #1572.

[2016-08-03 08:43] SaiVardhan commented on #1743
Sure @leehambley .

$ bundle exec rake features

Here is my output

`cap aborted!
Errno::ECONNREFUSED: Connection refused - connect(2) for 127.0.0.1:2220
/tmp/test_app/lib/capistrano/tasks/fail.rake:4:in `block (2 levels) in <top (required)>'
Tasks: TOP => deploy:starting => fail
(See full trace by running task with --trace)
The deploy has failed with an error: Connection refused - connect(2) for

[2016-08-03 19:40] DylanFrese opened #1746 "First-time deploy hook for setup"
Sometimes it is necessary to perform some setup steps (enabling some service, pulling some Docker images, writing some configuration file, generation of some random key) on deploy, but only necessary the first time a project is deployed.  Imagine a cloud-based setup with ephemeral servers, where deployments to a blank slate are relatively common, and manually configuration is ideally avoided.

Cap

[2016-08-03 20:30] skylarmb commented on #1065
its now 2016 and i have this same exact issue on capistrano 3.5.0

¯\_(ツ)_/¯

[2016-08-03 20:52] will-in-wi commented on #1065
Please open a new ticket if you think this is a bug, or if this is a request for support, please ask it on Stack Overflow or the Capistrano mailing list. This is unlikely to be the same issue and it is difficult to manage issues by reopening the existing, old ticket.

Thanks!

[2016-08-03 21:36] leehambley commented on #1746
You can easily do that yourself by `capture()` and the release directory variable to count the number of releases. I don't think this belongs in the core, as most of what you're describing falls into the category of "provisioning" (admittedly the line between "deployment" and "provisioning" moves back and forth depending on the team, wind direction, technology in use, etc)

[2016-08-03 21:48] DylanFrese commented on #1746
The servers I'm deploying to are provisioned in such a way to be fairly agnostic to what projects are going to be deployed to them. A solid example is deploying server software that needs to generate a keystore, but that generation only needs to happen once, the first time the server is deployed. It would not make sense for the configuration management software to do this, as it might need to be g

[2016-08-03 21:51] leehambley commented on #1746
Sure, a lot of these things are idempotent anyway, especially enabling and starting services, in systemd at least enabling an already enabled service is harmless, and starting an already started one is a noop.

Regarding generating files, etc - we always tend towards Makefiles/Rakefiles for builds (Even in Ruby projects) because they can create things that don't exists, then kick off these "build

[2016-08-03 22:12] DylanFrese commented on #1746
To explain my usecase a bit more specifically, we have a 15-minute-ish Maven build process which generates some .jar's which are deployed to a certain directory and run in Docker containers. A separate project deploys a docker-compose configuration. All configuration files, scripts (such as a backup script), etc. are kept as part of this other project.

The backup script, for example, is called on

[2016-08-06 00:27] mattbrictson commented on #1738
Fixed via #1742

[2016-08-06 00:27] #1738 closed

[2016-08-06 00:32] #1681 closed

[2016-08-06 00:46] mattbrictson commented on #1743
Hi, it looks like you are using Bundler 1.11.2. As noted in the [DEVELOPMENT](https://github.com/capistrano/capistrano/blob/master/DEVELOPMENT.md#setting-up-your-development-environment) documentation, you need to use Bundler 1.10.5 to run the Cucumber features. One way to do that is:

[code]

Also, for future reference, when posting output in a GitHub comment use triple backticks (aka "code fence

[2016-08-06 00:56] mattbrictson commented on #1746
I don't have a strong opinion one way or the other, but I will add the "discuss!" label here to encourage other contributors and users to join the conversation.

For my projects, I just make sure my first-time tasks are idempotent and run them on every deploy.

Another thing to consider is that "first time" may mean different things to different people. For example, is it the first time the app is

[2016-08-06 12:01] will-in-wi commented on #1746
Another ticket which revolves around this issue: https://github.com/capistrano/rails/issues/118

The trouble you can see in the other ticket is that defining "first time" is really tricky. I might have a task that only runs the first time an app is deployed. It might not run if a new server is added to the cluster, even though other tasks might run in that scenario. If a `:cold_boot` task were add

[2016-08-09 15:10] cmar commented on #835
Google brought us here. We ran into this issue for an older project still on Capistrano 2.13. We fixed it by setting `RAILS_RELATIVE_URL_ROOT` in the default_environment

[code]

[2016-08-10 06:54] ribanez7 commented on #1428
Hi u007, did you catch the problem? I'm getting same problem, but before to post info regarding versions, relevant configuration, etc, I'd like to know how did you solve it.
Thanks.

[2016-08-10 07:06] ribanez7 commented on #1428
Update on my last comment... just fixed it on my end by placing, on the config/deploy/production.rb the following line:

set :default_env, { 'DEVISE_SECRET_KEY' => ENV['DEVISE_SECRET_KEY'] }

And, finally, it worked perfectly :)

[2016-08-10 22:44] poc7667 opened #1748 "within Directory not working"
I tried to execute command under this folder `fetch(:latest_release_directory)`
However, I still have to append  `cd #{fetch(:latest_release_directory)} &&` before executing it.
Otherwise I will got exception, because it didn't switch to the target folder at all.

  gem "capistrano",  "~> 3.4.0", require: false

[code]

[2016-08-11 08:08] Heliosmaster opened #1749 "Silent mode is missing"
The `-s` (silent) option (present in at least version `3.2.1` was removed). I could not find the info in the changelog nor an explanation for it. In my particular use case, i manually log what I need so i would really like an option for it to not log anything on its own.

#### Steps to reproduce
Any capistrano command with the `-s` argument

#### Expected behaviour
Capistrano does not log stuff to

[2016-08-11 08:11] leehambley commented on #1748
%Q makes a string and disables command mapping. Please see the
documentation for Capistrano and SSHKit, this is thoroughly documented.

(Sent from my Nexus 6, please forgive typos!)

On Aug 10, 2016 15:44, "Poc" <notifications@github.com> wrote:

[2016-08-11 13:56] MarioRuiz commented on #725
I am a little confuse in here.
I need to connect to a server, let's think this one:
myuser@server1.com:22 password:'mypwd'
when i am connected to it... then I have access to my other server
myuser@server2.com:22 password:'mypwd'

So i tried to do it  like this:

require 'net/ssh'
require 'net/ssh/proxy/command'

proxy = Net::SSH::Proxy::Command.new('ssh server1.com -W %h:%p')

Net::SSH.start('serv

[2016-08-12 02:27] u007 commented on #1428
ive forgotten what i did, did u use rvm to deploy? ive this in my deploy.rb
set :rvm_ruby_version, '2.3.1'

[2016-08-12 09:38] leehambley commented on #725
https://github.com/capistrano/sshkit#tunneling-and-other-related-ssh-themes

[2016-08-12 21:06] mattbrictson commented on #1749
Hi, the relevant reasoning can be found in #1015.

In short, the `-s` option was removed because it never worked. Capistrano is built on top of Rake, and therefore inherits Rake's command-line options, like `-s`. But Capistrano uses its own output code that doesn't honor those flags. So we removed the flags to avoid confusion.

If you want to disable output in Capistrano, you can edit your `deploy

[2016-08-12 21:06] #1749 closed

[2016-08-16 08:50] painkillereldad commented on #1649
Hi,

getting the same for a usual deploy to staging using the staging.rb .

i do cap staging deploy  and i get

** Invoke production (first_time)
** Execute production
** Invoke load:defaults (first_time)
** Execute load:defaults
** Invoke bundler:map_bins (first_time)
** Execute bundler:map_bins
** Invoke deploy:set_rails_env (first_time)
** Execute deploy:set_rails_env
** Invoke deploy:set_linke

[2016-08-16 19:35] sander3 opened #1750 "Populate deploy_to variable with custom server property"
I'm trying to populate the deploy_to variable with a custom server property (named organisation) to deploy the same application multiple times to the same server.

`set :deploy_to, "/home/deploy/sites/#{server.properties.organisation}"`

It seems impossible to load the server Array? using the `fetch()` method.

[2016-08-17 01:19] mattbrictson commented on #1649
@painkillereldad Your trace shows that both `production` *and* `staging` are being invoked.

[code]

That is a problem, because Capistrano can only activate one stage at a time. If you run `cap staging deploy`, then only staging should be activated; likewise `cap production deploy` should only activate production. (Note that `cap production staging deploy` is invalid usage.)

Have you added code t

[2016-08-17 01:21] mattbrictson commented on #1750
Sorry, I believe this is not possible with Capistrano. The only thing I can think of is to run the `cap` command multiple times with different arguments/environment variables. You might want to post this to Stack Overflow to see if that community there has more ideas.

--

GitHub issues are for feature requests or bug reports. Since this is more of a how-to question, I am closing this issue. The C

[2016-08-17 01:21] #1750 closed

[2016-08-17 08:42] sander3 commented on #1750
Thank you for your comment. I'm using your idea as a workaround for now and asked the same question on Stack Overflow (http://stackoverflow.com/questions/38991846/how-to-populate-deploy-to-variable-with-custom-server-property).

[2016-08-18 16:00] apertureless opened #1751 "Deploy hangs when using password authentication"
#### Steps to reproduce

Updated to latest cap version

Capistrano Version: 3.6.0 (Rake Version: 11.2.2)
ruby 2.3.1p112 (2016-04-26 revision 54768) [x86_64-darwin15]

Got 1 project where I have password auth.
Which worked before updating.

Now I get

`Text will be echoed in the clear. Please install the HighLine or Termios libraries to suppress echoed text.`

Full output:

[code]
#### Expected beh

[2016-08-19 07:39] mapps-fujisawa commented on #1751
How about to write below into Gemfile, and install gem?

[2016-08-19 09:03] apertureless commented on #1751
Yeah that would erase the cleartext password, warning.
However the deploy still don't work.

[code]

[2016-08-19 13:47] leehambley commented on #1751
There have been no changes in Capistrano which could have caused this.

Please confirm that you haven't upgraded SSHKit or Net::SSH to something incompatible with your key authentication system.

`mkdir` should not require a password on the server (and, if it does, you'll need to use [an InteractionHandler](https://github.com/capistrano/sshkit#interactive-commands)), so it looks like an authentica

[2016-08-20 00:07] mattbrictson commented on #1751
Just to be sure, I removed my public key from one of my servers and did a `cap production deploy:check` to see what would happen. I was prompted for my password (twice) and everything worked fine. I can't reproduce the problem. Nor do I see the `stty: 'standard input': unable...` warnings.

[code]

My environment and gems (from running `cap production doctor`):

Environment

    Ruby     ruby 2.3.

[2016-08-20 00:43] mattbrictson opened #1752 "Move documentation repository into /docs"
#### TODO

- [x] Merge documentation repo into `docs/`
- [x] Turn off GH Pages for the documentation repo
- [x] Turn on GH Pages for `docs/ @ master`
- [x] Remove any remaining references to the documentation repo in the Markdown
- [x] Recreate my 2 documentation PRs
- [x] Mark the documentation repo as "defunct" (delete all files and put a explanation in the README)

---

GitHub [recently announc

[2016-08-20 09:21] apertureless commented on #1751
Hm, versions seem to match.

[code]

Yeah SSH-Keys would solve this, however the project is running on an old crappy client server which is managed and ssh-key auth is not working.

I am gonna investigate more and test it out on other projects, where ssh keys are working.

[2016-08-20 11:26] will-in-wi commented on #1752
I'm in favor of this. It'll be a pity to lose the version history on that, though…

I assume we take a snapshot of the code as it exists today and commit it to the Capistrano repo, then make one more commit to the documentation repo explaining the change?

Per the con, in the past we've added docs with a version specifier.

[2016-08-20 12:20] will-in-wi commented on #1748
@poc7667 Did this fix the issue?

I created this test case: https://gist.github.com/will-in-wi/527327e31af30b3eae2068e2965be05b

From that, I got the following output:

[code]

`pwd` and `puts` both returned the correct directory for me.

[2016-08-22 14:19] hron84 commented on #877
If you `capture("readlink #{current_path}")` before `deploy:symlink:release`, you will get the previous release path.

Btw, @leehambley, this could be done from Capistrano code too, at the start of the process. If there is no `previous_release` then it should simply make the string empty. It can cause some confusion, but it would be definitely better than the current state.

[2016-08-22 17:15] leehambley commented on #877
Gabor, if you've got time to open a PR Matt and I will be glad to help
guide you through getting it merged. It's difficult for he and I to
shepherd fearures we don't personally use through to completion, but we'd
love to help you make a contribution if we can.

(Sent from my Nexus 6, please forgive typos!)

On Aug 22, 2016 16:19, "Gabor Garami" <notifications@github.com> wrote:

[2016-08-23 10:53] leehambley commented on #1752
We could use https://saintgimp.org/2013/01/22/merging-two-git-repositories-into-one-repository-without-losing-file-history/ which I've had a positive experience with.

I'm afraid however that it would completely nuke all tags, etc, since every ref after the first commit in the docu repo would be changed... :(

[2016-08-23 20:45] apertureless commented on #1751
Tried it on other servers, where ssk-keys work, by disabling them and use password auth.
But could not reproduce it.

So I guess it has to do with the server.

Closing here.

[2016-08-23 20:45] #1751 closed

[2016-08-23 21:55] mattbrictson commented on #1751
Thank you for investigating and following up! 👍

[2016-08-24 00:23] #1740 closed

[2016-08-24 01:16] mattbrictson commented on #1752
OK, how about this? I spliced the entire history of the documentation repository on top of capistrano @ master. That means the capistrano history remains unmodified; all tags are still valid, etc. There are just a bunch of new commits that add `docs/`.

Will that work? See: https://github.com/mattbrictson/capistrano/tree/merge-docs

Or if we don't think we need to pollute the capistrano repo with

[2016-08-24 05:36] leehambley commented on #1752
Im on mobile but will try and have a look at the history andnsee if I can
live with it.

Summary: agree with the merge to docs/, would prefer keeping history if the
price isn't too high... (@matt, what command did you use to merge them?)

(Sent from my Nexus 6, please forgive typos!)

On Aug 24, 2016 03:16, "Matt Brictson" <notifications@github.com> wrote:

[2016-08-24 11:34] will-in-wi commented on #1752
I'm not sure which I prefer, but it wouldn't be a bad option to simply pull the docs in with one large commit, and have the commit message reference the old repository. That way, anyone trying to figure out the history of a change can jump over to the old repo.

[2016-08-24 11:45] hron84 commented on #877
@leehambley at weekend I'll take a look if I do not forget it completely :smile:

[2016-08-24 12:03] will-in-wi commented on #1752
I went through the `merge-docs` history and I really like this solution. It seems like the docs tree is spliced alongside the existing tree, but since the actual introduction of code happens in the merge commit, the original history is not rewritten.

👍

[2016-08-24 12:21] leehambley commented on #1752
* history not rewritten

this addresses the only worry I had... I'm not too precious about preserving doc history, or tags/etc so I like this solution a lot.

LGTM

[2016-08-24 14:57] mattbrictson commented on #1752
In my working copy of the documentation repo, I created a branched called `docs-subdir` where I moved everything into a `docs/` subdirectory.

Then in my working copy of the capistrano repo, I added my documentation working copy as a remote called `docs-temp`, and `git fetch`ed it. This was the magic:

[code]

Inspired by this post I found: https://ahmadatwi.me/2016/04/07/how-to-move-a-git-reposit

[2016-08-24 15:00] mattbrictson commented on #1752
I created a PR: #1753.

[2016-08-24 15:15] mattbrictson commented on #1752
There's also the problem of open issues and PRs in the documentation repository. Those will need to be closed and manually moved to the main capistrano repository, I guess?

[2016-08-24 15:40] will-in-wi commented on #1752
Yeah... Or do a sweep of merges and then walk through the process again.

[2016-08-24 15:50] leehambley commented on #1752
Maybe Github support will migrate them for us?

Lee Hambley
http://lee.hambley.name/
+49 (0) 170 298 5667

On 24 August 2016 at 17:40, William Johnston <notifications@github.com>
wrote:

[2016-08-24 16:05] will-in-wi commented on #1752
Maybe... I'm not sure how, as it would be a nasty merge conflict. And I assume the commit IDs for the docs have changed.

[2016-08-24 16:46] Vinsanity opened #1754 "Version 3.7 SCM bug?"
Getting no traction on StackOverflow so I apologize if posting this here is not the right area.

Based on the Readme here https://github.com/capistrano/capistrano/blob/v3.6.0/UPGRADING-3.7.md

Updating the Gemfile and running bundle install works correctly. However, removing the :scm variable from deploy.rb and adding

[code]

to the Capfile produces the following error:

cap aborted!
LoadError: c

[2016-08-24 16:51] mattbrictson commented on #1754
Hi, thanks for the detailed report!

The master branch does not yet have all of the planned 3.7 features. Specifically the SCM changes are not merged into master yet. If you'd like to try them out (your testing would be much appreciated!), use the branch in this PR: #1572.

I hope to merge that stuff into master soon, but I can't promise an exact timeline.

[2016-08-24 16:52] mattbrictson commented on #1754
In the meantime, I agree this sentence is misleading/wrong:

[2016-08-24 18:23] Vinsanity commented on #1754
Thank you Matt. This makes a lot more sense. I'd be happy to test this and report back to you with a `cap doctor` report and any other relevant output from my tasks.

Cheers!

[2016-08-25 17:39] poc7667 opened #1755 "Can not upload file in an existing folder"
I tried to upload index.html to my staging server,

`Errno::ENOENT: No such file or directory @ rb_sysopen - //home/deploy/workspace/webApp/current/index.html`

`upload! "#{Dir.pwd}/src/index.html", "/#{current_path}/index.html"`

However, `//home/deploy/workspace/webApp/current` did exist.

And if I try to `/tmp/index.html` it works perfect.

I thought Capistrano is matured to prevent this sort o

[2016-08-25 21:05] will-in-wi commented on #1755
Can you make a simple example application to demonstrate the issue? For example, just create a Gemfile, include Capistrano, set up only enough deployment to replicate the issue, anonymize your username/hostname, and then push the whole thing to github?

Here's an example of a minimal test case: https://gist.github.com/will-in-wi/527327e31af30b3eae2068e2965be05b

Thanks!

[2016-08-26 11:35] troelskn commented on #1755
Shouldn't it be `upload! "#{Dir.pwd}/src/index.html", "#{current_path}/index.html"`

[2016-08-26 11:44] troelskn commented on #1746
I think you would be better of writing the setup-tasks to either be idempotent or to check if the change has already been applied. That's how I do it anyway.

For cron, I just have a separate crontab file per app symlinked into `cron.d`:

[code]

[2016-08-26 11:52] troelskn commented on #1396
I believe this issue has been resolved with #1723

[2016-08-26 15:16] poc7667 commented on #1755
My bad, because I put the statement in `run_locally do` block. Now it's fixed.
Thanks

[2016-08-26 15:16] #1755 closed

[2016-08-26 16:03] mattbrictson commented on #1396
Yes, good catch. Thanks!

[2016-08-26 16:03] #1396 closed

[2016-08-27 00:16] mattbrictson commented on #1752
Looks like the only 2 documentation pull requests are mine; I can recreate those if necessary. As for the issues, I like the idea of GitHub support doing it for us. 😀 Can you take the lead on that, @leehambley?

[2016-08-27 02:09] Fire-Dragon-DoL opened #1757 "Appending to linked_dirs still output an empty variable if performed from gems"
Might be related to `load:defaults` in some way, I'm not entirely sure why the variable ends up empty (setting it from `deploy.rb` works fine).

Can someone drive me toward a workarond? My only option so far is opening the source code of each gem and add stuff to `linked_dirs`

#### Steps to reproduce

Prepare the following files:

[code]

[code]

[code]

[code]

[code]

1. Run `bundle exec cap te

[2016-08-27 12:21] will-in-wi commented on #1757
The line mentioned in step 3 is not available in the latest released version of Capistrano/Bundler yet. It was introduced in: https://github.com/capistrano/bundler/commit/6b23e523c337d966457e4c034a5e86b902ebcc4c

You can work around this for the time being by using `gem "capistrano-bundler", github: 'capistrano/bundler'` or by manually adding `set :linked_dirs, fetch(:linked_dirs, []) << '.bundle'

[2016-08-27 21:33] Fire-Dragon-DoL commented on #1757
No problem for the full testcase, sorry to have wasted your time though 😞  I assumed master was the same in the ruby gem.

I'm closing the bug since I assume it's a no-bug in reality

[2016-08-27 21:33] #1757 closed

[2016-08-29 08:47] leehambley opened #1758 "Recommended use of `ask` is incorrect"
_From @mattbrictson on May 31, 2016 19:16_

The [documentation](http://capistranorb.com/documentation/getting-started/user-input/#) recommends this pattern:

[code]

But this is wrong. The first argument to `ask` is supposed to be a variable name, not a prompt string. Technically the code still works (since the outer `set` overrides the implicit `set` within `ask`), but it is very misleading.

_Co

[2016-08-29 08:48] leehambley opened #1759 "[Continue Discussion] About Translation to Chinese"
_From @1c7 on May 28, 2016 4:8_

https://github.com/capistrano/capistrano/issues/1690
here is continue discussion about topic in above link

I am busy on deploy a Rails app.
So when i got time i would come back and see what can we do to translate the website.
I don't know much about jekyll and github page.
maybe I can just fork & pull request or something to translate. I don't know.
anyway, when i

[2016-08-29 08:48] leehambley commented on #1759
_From @chinakr on May 29, 2016 4:56_

Documentation is ver important. if needed, I'll do my bit. Thanks.

[2016-08-29 08:48] leehambley opened #1760 "Newbie feedback"
_From @dancinglightning on April 15, 2016 13:50_

Hi,

i just got it set up and it was a little difficult. I could help improve the docs, or say where there are unclarities if that is wanted.
To be a little more specific: i found the setup and which commands are needed a little difficult. Especially in sight of the capistrano-rails, is it needed or not, what are the differences, difficult to follo

[2016-08-29 08:48] leehambley opened #1761 "GitHub Pages emits warning about Markdown engine"
_From @mattbrictson on February 9, 2016 1:5_

:weary:

_Copied from original issue: capistrano/documentation#172_

[2016-08-29 08:48] leehambley commented on #1761
Bah, it *should* be fine thou Matt. I'll have a quick look.

[2016-08-29 08:48] leehambley opened #1762 "Add guided walkthrough(s)"
_From @mattbrictson on January 20, 2016 3:24_

Video or otherwise would be great.

From @operand's original issue https://github.com/capistrano/capistrano/issues/1297:

_Copied from original issue: capistrano/documentation#160_

[2016-08-29 08:48] leehambley opened #1763 "Improve explanation of SSHKit DSL with examples and all available methods"
_From @mattbrictson on January 19, 2016 23:58_

From https://github.com/capistrano/capistrano/issues/1531 (which I have closed and moved here instead):

_Copied from original issue: capistrano/documentation#159_

[2016-08-29 08:48] leehambley commented on #1763
Let's not *move* anything, but we could definitely copy from, and link to it.

[2016-08-29 08:48] leehambley opened #1764 "Capistrano in ruby script"
_From @ddarbyson on December 3, 2014 4:16_

I could not get this to work with the following line found at http://capistranorb.com/documentation/advanced-features/capistrano-pure-ruby/

[code]

However, using `load` seems to work just fine

[code]

_Copied from original issue: capistrano/documentation#107_

[2016-08-29 08:48] leehambley commented on #1764
_From @Kriechi on January 15, 2015 14:3_

Did you get any specific error message?
I just tried it in a blank irb context without getting any errors...

[2016-08-29 08:48] leehambley commented on #1764
_From @ddarbyson on January 15, 2015 16:1_

It's been a while so I don't quite remember. Since this post, I haven't change from `load r` so I'm assuming the issue is still there.

[2016-08-29 08:48] leehambley commented on #1764
_From @Kriechi on January 15, 2015 16:4_

If you could supply more context would be great.
Otherwise this might be pretty hard to track down...

Did you get an error?
Did the `.rake` load - or not?
Did you have any `.rake` files - or was the directory-tree missing?
Capistrano version?

[2016-08-29 08:48] leehambley commented on #1764
_From @ddarbyson on January 15, 2015 16:5_

No problem. I'm actually am kicking up some development in a couple weeks. I'll keep this flagged and report back my findings.

[2016-08-29 08:48] leehambley commented on #1764
Actually we kinda have this https://vimeo.com/133892224 - might serve as a reference. For a complete picture, I used to maintain a "Capistrano Handbook", which I was in talks to make into a real book - but another book which I can't seem to find now was published in the meantime, so we elected not to do it.

[2016-08-29 08:48] leehambley commented on #1764
_From @will-in-wi on January 18, 2016 14:47_

I'm confused. I don't see any reference to single ruby file Capistrano deployment in the video.

[2016-08-29 08:48] leehambley commented on #1764
yep, useless link, my bad - I thought this was the "document an end to end setup of Cap" ticket for which I wanted to make a text version of the video. Sorry for wasting 10 mins of your life!

[2016-08-29 08:48] leehambley commented on #1764
_From @will-in-wi on January 18, 2016 14:53_

Heh, no waste, I now know about Harrow and the SSHKIT_COLOR param, both of which were new to me.

[2016-08-29 08:48] leehambley commented on #1764
_From @will-in-wi on January 18, 2016 14:54_

I'm trying to set up an example single script deployment. It looks like the require structure has changed since the docs were written, for example, `Capistrano::Application.invoke('production')` doesn't work, and I'm getting errors such as `Don't know how to build task ':check'`. I'll see if I can figure out why `deploy.rake` isn't getting pulled in.

[2016-08-29 08:48] leehambley commented on #1764
Thanks @will-in-wi it's been a long time since it worked as documented, entierly possible that a world of things has changed. Interesting is that "`deploy.rake`-missing" hints might be found in the tail end of @mattbrictson 's "how to load a rakefile" stuff in his new Cap plugin branch... lemme see if I can find a reference

[2016-08-29 08:48] leehambley commented on #1764
Actually, maybe it's just you're `require`ing the wrong thing? https://github.com/capistrano/capistrano/blob/45e851bdc5ed80970a7be90f080f030aa7386190/lib/capistrano/deploy.rb#L3

[2016-08-29 08:48] leehambley commented on #1764
_From @will-in-wi on January 18, 2016 16:26_

I'm not sure the code as written in the docs has ever worked. I pointed it at a local copy of Capistrano and started bisecting. The commit which created `capistrano/all` still has the `Don't know how to build task 'production'` error. The same errors that exist today existed as of 3.0.0.

I'm not having any success in writing a new single file example.

[2016-08-29 08:48] leehambley commented on #1764
_From @will-in-wi on January 18, 2016 16:30_

Added a PR in case this is the way you want to go. https://github.com/capistrano/documentation/pull/155

At a bare minimum, it might make sense to remove it pending writing a new one.

[2016-08-29 08:48] leehambley commented on #1764
_From @mattbrictson on January 18, 2016 17:11_

@will-in-wi @leehambley I have a open PR to reinstate the Capistrano-in-a-script behavior. It still needs tests and a CHANGELOG, but it is ready for feedback:

https://github.com/capistrano/capistrano/pull/1548

[2016-08-29 08:48] leehambley commented on #1764
_From @will-in-wi on January 18, 2016 17:32_

It looks like we could put back the docs using the contents of `capistrano/inline` as part of the script. Once `capistrano/inline` becomes part of Capistrano, the docs could be simplified.

Does this sound like a reasonable solution?

[2016-08-29 08:48] leehambley commented on #1764
_From @mattbrictson on January 18, 2016 18:2_

Unfortunately the `capistrano/inline` script only works if certain changes are made to Capistrano's `setup.rb`.

[code]

So I don't think we can offer it as a solution in the docs until part or all of that PR is merged.

[2016-08-29 08:48] leehambley opened #1765 "Document using ssh-keyscan to preload the deploy host host key."
_From @leehambley on September 23, 2013 6:33_

The documentation should cover what a host key is, how to get one, and how to make a simple task to do this automatically, including any risks involved.

[code]

Specifically you can do something liks this:

[code]

On Linux the output can also be sent to `/etc/ssh/ssh_known_hosts` to be globally applied, rather than for an individual user, with a pri

[2016-08-29 09:44] leehambley commented on #1752
Done (moved them manually)

[2016-08-29 12:41] cseeger-epages opened #1766 "Host filter doesn't exactly match"
Greedy host filter
---

#### Steps to reproduce
eg. cap stage --hosts=system01 <some task>
using a stage with defined hosts:
system011
system012
system020

#### Expected behaviour

empty host list or ERROR Host does not exists or sth. like this

#### Actual behaviour

matching any host starting with the hosts parameter

in this case
system011 and system012

#### Fix

from: https://github.com/capis

[2016-08-31 00:05] mattbrictson commented on #1690
We are planning to move the official documentation into this repository (under `docs/`), so I'm reopening this original issue and closing duplicate #1759.

[2016-08-31 00:06] mattbrictson commented on #1759
Closed as duplicate of #1690

[2016-08-31 00:06] #1759 closed

[2016-08-31 00:07] mattbrictson commented on #1752
@leehambley Thanks for moving the documentation issues! I created a new **documentation** label and tagged all of the issues you migrated.

[2016-08-31 00:22] mattbrictson commented on #1766
Yes, I believe this is a bug. The [documentation](http://capistranorb.com/documentation/advanced-features/host-filtering/) implies that the strings should be matched exactly, unless certain regular expression syntax is used.

@leehambley @will-in-wi @cshaffer Do you agree this is a bug?

---

Also, I don't think `%r{^#{vs}$}` is exactly correct, since a `.` in the filter string will be interpreted

[2016-08-31 00:23] will-in-wi commented on #1766
I agree that this appears to be a bug. Unless @cseeger-epages is interested in doing so, I can probably whip up a PR.

[2016-08-31 00:28] mattbrictson commented on #1766
@will-in-wi Thanks. Can you take the lead on seeing this issue is ultimately resolved? I'll assign it to you if that's OK.

[2016-08-31 00:32] will-in-wi commented on #1766
Sounds good to me. @cseeger-epages: Are you interested in making a pull request for this? You already found the offending line. The only additional thing I would suggest would be to make an rspec test that replicates this issue, and another one which checks for the case when what is passed contains a dot.

[2016-08-31 00:45] mattbrictson commented on #1752
Docs have been merged! I think there are a few more tasks, which I will add to this issue as a checklist:

* Turn off GH Pages for the documentation repo
* Turn on GH Pages for `docs/ @ master`
* Remove any remaining references to the documentation repo in the Markdown
* Recreate my 2 documentation PRs
* Mark the documentation repo as "defunct" (delete all files and put a explanation in the README

[2016-08-31 01:17] mattbrictson commented on #1752
All done! The website is now being published from `docs/`. 🎉

[2016-08-31 01:17] #1752 closed

[2016-08-31 10:46] cseeger-epages commented on #1766
We tested the better solution from @mattbrictson
[code]
i will make a pull request during the day for this. Thanks for your fast replys.

Additionally:
The same is code is used in the roles_filter:
https://github.com/capistrano/capistrano/blob/master/lib/capistrano/configuration/role_filter.rb#L17-L27
[code]

should this also be fixed to ```%r{^#{Regexp.quote(vs)}$}``` ? if someone wants to define

[2016-08-31 11:27] will-in-wi commented on #1766
@mattbrictson might weigh in here, but I'd say that the roles_filter fix makes sense too. If you want to make that PR, could you do it as an additional one?

Thanks!

[2016-08-31 12:03] cseeger-epages commented on #1766
Ok if @mattbricson gives his ok i will make an additional one.

[2016-08-31 14:52] mattbrictson commented on #1766
Yes, I'll accept a PR for fixing the roles filter as well. Thanks!

[2016-09-01 07:54] cseeger-epages commented on #1766
should i open a new issue for this or is it ok to to reference it here ?

[2016-09-01 11:21] will-in-wi commented on #1766
I'd just push the PR and reference it here. If @mattbrictson wants a new issue, then it can be created at that point.

[2016-09-01 11:39] cseeger-epages commented on #1766
Ok thx. If both PR's get merged can someone fix the changelog, theres no need for 2 lines for the same issue.

[2016-09-03 00:12] mattbrictson commented on #1766
This can be closed after #1771 is merged (once merge conflicts are fixed).

[2016-09-05 21:02] 2mferreira opened #1772 "Capistrano Truck Factor"
Dear **Capistrano** contributors,

I am Master's student investigating the importance of the idea of truck factors in Software Engineering.

As you know, truck factor (aka bus factor) is defined as “the number of people on your team who have to be hit by a truck before the project is in serious trouble”.
By "serious trouble", we mean that it will very difficult to maintain the project (e.g., bugs

[2016-09-06 00:54] will-in-wi commented on #1772
Offhand, I'd say 2. If @mattbrictson and @leehambley got hit by the proverbial truck, Capistrano would be in serious trouble. However, you can see from https://github.com/orgs/capistrano/people that there are 5 other people who could at least give access to new maintainers or maintain it themselves.

On the other side, if only one of them disappeared, I don't know whether the project would be in v

[2016-09-06 01:12] gommo commented on #1065
I've recently upgraded from 3.4 to 3.5 and then 3.6 and getting this now. It just ignores my latest checkins on a branch and deploys the revision that it last deployed in the /repo directory ( it seems)

[2016-09-06 01:14] gommo opened #1773 "3.5 and 3.6 not deploying latest revision if using a branch"
This seems to have occurred since upgrading from 3.4 to 3.5 (and also occurs in 3.6)

I have a specific deploy configuration that deploys off a branch
e.g.
set :branch, 'feature/SPP-979-SignUpform'

It is just using the revision it last checked out (before I upgrade) at /repo

If I remove the repo directory on the server then it then fetches the latest off that branch but then subsequent deploys a

[2016-09-06 01:15] gommo commented on #1065
Logged a new ticket #1773

[2016-09-06 01:36] mattbrictson commented on #1773
Thanks for opening a report. Let's see if we can get to the bottom of this!

Nearly everyone that uses Capistrano with Git (myself included) deploys using branches, whether that be the `master` branch or a custom branch (I use `development` for staging environments). So there must be something unique about your environment that is triggering this bug. We just need to find it.

First, can you tell

[2016-09-06 06:58] gommo commented on #1773
Here's one from a first deploy

00:19 git:update
      01 git fetch --depth 1 origin feature/SPP-979-SignUpform
      01 From bitbucket.org:xxxxxx
      01  * branch            feature/SPP-979-SignUpform -> FETCH_HEAD
    ✔ 01 spp@xxxxx
00:27 git:create_release
      01 mkdir -p /opt/socialpinpoint/dev-myspp/releases/20160905223049
    ✔ 01 spp@xxxxx
      02 git archive feature/SPP-979-SignUpform

[2016-09-06 08:02] leehambley commented on #1772
One of the most successful projects in the world has a de facto bus factor of one, when seen from the outside. Torvalds tries very hard to make a dictatorship (his words) which concentrates decision making weight in a very small (ideally one) number of people.

Capistrano doesn't follow the same model, but we do make a lot of decisions "at the top" as we are more likely infrastructure where a stro

[2016-09-06 11:38] RogerE opened #1774 "Capitrano asks for password twice with sshkit version 1.11.0 and up"
After upgrading Capistrano, and consequently sshkit, to the latest version I am prompted for the password twice for tasks connecting to the server. Specifically, it prompts for the password on the first command(as normal), runs that command and then prompts for the password again on the second command. After that everything works as normal.

After some experimenting I found that this happens with

[2016-09-06 11:40] gommo commented on #1773
Cheers for helping with this too. Hopefully I'm just missing a step after upgrading somewhere?

[2016-09-06 12:41] will-in-wi commented on #1774
Could you add `--trace` to the Capistrano command and attach the output, indicating the points at which the password is being requested?

Thanks!

[2016-09-06 13:17] RogerE commented on #1774
Example trace with password prompts included. Username and IP have been changed:

bundle exec cap --trace production deploy:check
** Invoke production (first_time)
** Execute production
** Invoke load:defaults (first_time)
** Execute load:defaults
** Invoke bundler:map_bins (first_time)
** Execute bundler:map_bins
** Invoke deploy:set_rails_env (first_time)
** Execute deploy:set_rails_env
** Invok

[2016-09-06 14:14] frostblooded commented on #227
So, is there any hope for this to be added?

[2016-09-06 17:50] mattbrictson commented on #1772
Agreed that the "truck factor" (I much prefer the lottery analogy!) is 2 at this point, in the sense that Capistrano would *temporarily* be in "serious trouble" if @leehambley and myself both suddenly disappeared from the project.

However the strength of open source is that another person or community could pick things up where we left off. This is especially true for Capistrano because:

* We do

[2016-09-06 17:50] #1772 closed

[2016-09-06 22:03] mattbrictson commented on #1773
Thanks for the logs. One more bit of info, just as a sanity check. What do you get when you run this locally?

[code]

[2016-09-06 22:07] mattbrictson commented on #1773
Finally, I see in your logs that your `git` command is different than mine. Yours is:

[code]

Whereas mine is:

[code]

Based on the Capistrano source, I can deduce that you are have this in your configuration:

[code]

Correct?

Furthermore, when I look at the code, there is a comment that says:

But you are running 1.8.3.1.

Could that be the problem?

The code looks like this:

https://github.

[2016-09-06 22:40] mattbrictson commented on #227
@frostblooded This thread hasn't been touched in over 4 years, so most of the discussion here is probably no longer relevant. Can you clarify what feature(s) you are referring to? Then we can help direct you to the right place.

Please note that we are working on Capistrano v3 now, and Capistrano v2 is no longer supported. If you are looking for a change to v2 then we probably won't be able to hel

[2016-09-06 22:49] mattbrictson commented on #1774
Thanks for detailed the report! I think I've seen this as well.

It's not obvious to me what could cause this. Probably what we'll need to do is run a `git bisect` on SSHKit and see what commit introduced the bug. As you said, it is something between 1.10.0 and 1.11.0, right?

I'll try to get to this later this week. If someone wants to jump on this in the meantime, feel free!

[2016-09-06 22:54] mattbrictson commented on #1774
@RogerE I noticed the two password prompt are slightly different:

[code]

Was this a copy/paste error or were they actually different in the original log output?

[2016-09-07 02:22] will-in-wi commented on #227
I'll also note that this thread, if continued, belongs in https://github.com/capistrano/rails.

[2016-09-07 06:00] RogerE commented on #1774
@mattbrictson the promts are actually the same, must have happened when I anonymized username/IP. Sorry for the confusion.

To your previous question, yes, it happens with 1.11.0 but not with 1.10.0.

[2016-09-07 06:06] gommo commented on #1773
It could very well be the git version on the server. I will update and test

[2016-09-07 06:08] leehambley commented on #1774
The [compare view](https://github.com/capistrano/sshkit/compare/v1.10.0...v1.11.0) doesn't show anything immediately obvious.

Are you skilled enough with Git @RogerE to perhaps run a [`git bisect`](https://git-scm.com/docs/git-bisect) for us over the 18 commits (ok, realistically it's ~15 actual code changes)  and give us a clue about where the breaking change was introduced?

I think the strateg

[2016-09-07 06:32] RogerE commented on #1774
Thanks @leehambley, here is the final output of git bisect:

27b88cab9d3978802890263a8e0e23d77ac2772e is the first bad commit
commit 27b88cab9d3978802890263a8e0e23d77ac2772e
Author: Jean Boussier <jean.boussier@gmail.com>
Date:   Fri Mar 11 14:23:23 2016 -0500

    Make cached known hosts lookup the default

[2016-09-07 06:52] gommo commented on #1773
Pretty sure git was the cause

[2016-09-07 06:52] #1773 closed

[2016-09-07 07:17] leehambley commented on #1774
thanks for going through the hassle of the `git bisect` @RogerE , to confirm then that before this commit you are prompted once, as expected, and after this commit you are prompted twice, which is to be considered a bug?

[2016-09-07 07:30] halfbyte opened #1775 "Testing Depfu, a tool to automatically check and update your dependencies"
I've asked @leehambley, who is an old acquaintance from the Hamburg rails scene, if Capistrano would like to test out a tool a friend and I are working on. He told me to open up an issue here.

As it contains all the important infos I'll just copy in the relevant parts from that email here.

Me and a friend are working on a “greenkeeper.io for Ruby”, a service that helps you keep your dependencies

[2016-09-07 07:34] leehambley commented on #1774
@RogerE here's from my IRB session, but you can adapt the code for your Capistrano recipe, unfortunately it doesn't work yet, but this is the vein I'm following:

[code]

**FWIW this doesn't seem to work**, but it's been a while since I worked with Ruby and mangling class variables, and overriding defaults, etc....

By the way, why are you using *password authentication*, it's barely supported, an

[2016-09-07 09:02] RogerE commented on #1774
@leehambley I must admit this is a bit above my current level of expertise...

But to be clear, this is not a big issue for me, I can avoid it for now by specifying sshkit 1.10.0, just thought it would be good to let you know about it.

And yes, I know I should use keys, I'll probably look into it the next time I set up a new server. But I sort of like the friction of having to enter a password, a

[2016-09-07 10:15] leehambley commented on #1774
Makes two of us apparently, the APIs around host caching weren't meant to be easily over-rideable, thanks non the less for doing the Git bisect with us. Maybe @mattbrictson will know how we can jump the hoops of class variable defaults etc and make a fix in code. (I suspect we need to add an API to set the options after initialization)

Absolutely, at least we know it's a confirmed bug now, it pro

[2016-09-07 10:39] RogerE commented on #1774
@leehambley interesting, I'll spend some time getting up to speed on SSH keys in the not to distant future.

For now, thank you very much for your swift and comprehensive responses!

[2016-09-07 12:14] will-in-wi commented on #1774
@RogerE Another approach for SSH keys is to run:

[code]

The first command starts a new bash shell with SSH Agent running inside. The second command pulls in an SSH Key and, assuming you have it encrypted, prompts you for the password. The third command of course runs Capistrano, but now the key is available to it. The fourth command exits the newly created SSH Agent shell and closes the agent pr

[2016-09-07 14:38] mattbrictson commented on #1774
@RogerE Can you try adding this to your `deploy.rb` as a potential workaround?

[code]

[2016-09-07 14:40] mattbrictson commented on #1766
Fixed via #1771

[2016-09-07 14:40] #1766 closed

[2016-09-07 17:46] mattbrictson commented on #1774
I found the cause of the bug and opening a corresponding issue in SSHKit: https://github.com/capistrano/sshkit/issues/369

[2016-09-07 19:17] leehambley commented on #1774
Thanks Matt, great detective work

(Sent from my Nexus 6, please forgive typos!)

On Sep 7, 2016 19:46, "Matt Brictson" <notifications@github.com> wrote:

[2016-09-08 06:00] RogerE commented on #1774
@mattbrictson thanks, with your workaround added I am only promoted once with the newest version of sshkit. And I see you have found the cause of this also which is great!

Let me know if there is anything else I can do to help.

[2016-09-08 06:01] RogerE commented on #1774
Thanks @will-in-wi I'll look into it.

[2016-09-09 12:51] will-in-wi commented on #1775
I'm not against it… I haven't spent enough time working on Capistrano core to know whether newly released deps outside of the gemspec target range cause an issue.

I like the idea, though. If there was a free or inexpensive version someday that worked with an internally hosted GitLab instance, I'd probably push for its usage by my employer.

[2016-09-13 23:22] DylanFrese opened #1776 "Custom Filters"
I would like to implement my own custom (command-line) filters, that apply to `on` like `HOSTS` or `ROLES`. An example would be `REGIONS`, or extending `HOSTS` to match SaltStack minion IDs as well as FQDNs/IPs.

However, [filter.rb](https://github.com/capistrano/capistrano/blob/master/lib/capistrano/configuration/filter.rb) and [configuration.rb](https://github.com/capistrano/capistrano/blob/mast

[2016-09-13 23:53] mattbrictson commented on #1776
My gut reaction is that this is not something that we want to support in Capistrano core. However I understand your frustration about the lack of a clean extension point for you to add custom filtering.

Perhaps the best way to accommodate this is via a custom task. You could write a rake task called `regions` that accepts an argument (in other words, it can be invoke by `regions[arg]`). That task

[2016-09-14 00:27] DylanFrese commented on #1776
I think that even simpler would just to be to open up the list of filters in `configuration.rb` for appending. Monkey-patching or refining if I want to change the behaviour of `HOSTS` or `ROLES` is not too bad.

[2016-09-14 00:30] mattbrictson commented on #1776
OK, can post a quick patch or open a PR with what you have in mind? We can work from there.

[2016-09-14 12:54] will-in-wi commented on #1776
I'm a fan of making this possible. I personally use hostnames and the host regex option to accomplish it at present. My use case is that we have several locations, and we prepend a two char location code to our server names. For example, our servers at our main location are hqsomething01, while our servers in our California location are casomething01. So I can limit a deploy by running `cap prod -

[2016-09-14 19:27] DylanFrese commented on #1776
@mattbrictson I created a pull request that should suffice ; I'll add tests if you point me to where to add them.

[2016-10-03 14:25] mattbrictson opened #1783 "Remove rbx-2 (Rubinius) from CI?"
rbx-2 segfaults when running RuboCop (so we worked around it, 7695476) and now Travis is [failing to install rbx-2](https://travis-ci.org/capistrano/capistrano/jobs/164640875#L141) altogether, which is breaking all our builds. Is there enough demand for Rubinius that we should keep testing it? It seems more trouble than it's worth.

My understanding is that the Rubinius release process can produce

[2016-10-03 16:43] AmitPatel-BoTreeConsulting commented on #1202
@jitendrak1 have you got your problem solved. I lately started facing this issue.

http://stackoverflow.com/questions/39831186/netsshauthenticationfailed-while-deploying-rails-4-2-x-application-using-cap

[2016-10-03 17:14] will-in-wi commented on #1783
I don't personally use Rubinius.

Is it possible to set it to retry N times on failure? It seems rather sporadic...

[2016-10-03 17:36] mattbrictson commented on #1783
I must admit I know almost nothing about Rubinius. I thought it was a alternative implementation of Ruby (a la JRuby), but the [Rubinius website](https://rubinius.com) says it is a platform for building programming languages, and now I am thoroughly confused.

Maybe we could switch from rbx-2 to rbx-3, since apparently 2.x releases stopped last year. But I can't find a changelog anywhere and 3.0 h

[2016-10-03 17:41] will-in-wi commented on #1783
Maybe for the moment, make rubinius an allowed failure, and then leave this ticket open for a while for others to jump in.

[2016-10-07 15:46] sreuterle commented on #1686
I think multiple calls of the same task should be possible.
My scenario:
I have two tasks for backsyncing - one for files, one for database. Both call the same cleanup task at the end. Furthermore I have a task which invoke both of the backsync-tasks. So I have the choice to sync files and database at once or database only. So now capistrano skips the last cleanup task which is not nice. I think i

[2016-10-07 15:57] davidalger commented on #1686
@sreuterle Something I implemented in a gem I did for deploying Magento 2 was to add a reenable call to the end of the task declaration for a task which is expected to be called twice during a deployment. Perhaps doing this could be useful for you as well :)

[code]
source: https://github.com/davidalger/capistrano-magento2/blob/master/lib/capistrano/tasks/magento.rake#L166

[2016-10-07 16:50] sreuterle commented on #1686
Thank you @davidalger , that's quite the most proper way to integrate this. Never the less: I think `.reenable` is a dirty hack at all :-/

[2016-10-07 16:54] mattbrictson commented on #1686
@sreuterle What if Capistrano offered two different methods, `invoke` and `invoke!`, where the latter allows re-invocations? That way we can preserve backwards compatibility for the current `invoke` behavior.

[2016-10-07 17:07] sreuterle commented on #1686
@mattbrictson I didn't get why it is a matter to invoke a task twice or more often. That's what I expect when I write the invoke statement twice in my task ;-) As mentioned already: a warning should be enough.
Two different types of `invoke`/`invoke!` could be a compromise.

[2016-10-07 17:22] mattbrictson commented on #1686
I agree, it is counterintuitive. But Capistrano is built on Rake, and that's how Rake works. 😁

http://stackoverflow.com/questions/577944/how-to-run-rake-tasks-from-within-rake-tasks/1290119#1290119

[2016-10-07 17:31] davidalger commented on #1686
@mattbrictson I'm personally on board with the introduction of the `invoke!` method (as outlined [here](https://github.com/capistrano/capistrano/issues/1686#issuecomment-233399891)). It is very likely IMO that there are lots of configurations out there which incorrectly have `invoke` calls in loops (I did myself by accident, and only realized it when cap 3.6 started warning me of the double invoca

[2016-10-07 18:17] laszlof commented on #1427
Are there any plans on fixing this? I just ran into this myself and had a heck of a time finding out information on it.

My use case is, I have a security requirement to keep services separated by users. That being said, I need to do things as separate users on the same server. It stands to reason that the following should work:

[code]

[2016-10-08 01:00] mattbrictson commented on #1427
Capistrano supports loading SSH config from the local project. In other words, within your project, you can place a `./.ssh/config` file and Capistrano will automatically use it when you deploy. That way you can vary the configuration per project, and you can even place it in source control so that other members of your team don't need to do any setup of their own.

Will that work for your case?

[2016-10-11 08:46] tom-lord commented on #1079
To any future readers who, like me, stumbled here via a google search:

You can now enable coloured Jenkins output for Capistrano tasks, by setting:

    ENV['SSHKIT_COLOR'] = "true"

(As can be seen in the SSHkit code [here](https://github.com/capistrano/sshkit/blob/db4d1d3cb4c95ce40fc28782d68b21858021e2c0/lib/sshkit/color.rb#L24).) This could either be configured globally, or on a per-job basis.

[2016-10-12 05:36] JohnMerlino2 opened #1786 "Authentication failed for user"
I am able to ssh into my ec2 instance with my user without issue. However, when I try it with capistrano, I get errors:

cap staging deploy:setup

[code]

I have the following in staging.rb:

server 'ec2-xx-xxx-xxx-xx.compute-1.amazonaws.com',
       user: 'myuser',
       roles: %w{web db},
       ssh_options: {
         keys: %w("/home/myuser/.aws/aws_myuser/myuser-key-pair-useast.pem"),

[2016-10-12 12:00] leehambley commented on #1786
Please try setting your SSH options in a `.ssh/config` file for the host, to rule out the parsing of the options you have passed via this hash to the `server …` option... I believe you are using v2x syntax with v3 and thus your input is doing nothing.

 - https://github.com/capistrano/sshkit#tunneling-and-other-related-ssh-themes

Please stick to the input template for new issues in future, it inc

[2016-10-12 14:24] mattbrictson commented on #1786
Looks like you have a typo here. This is probably what you want (remove the quotes):

[code]

[2016-10-12 21:08] pwaterz commented on #784
I'm trying to do the same thing using docker containers locally and am having the same issue. While the .ssh/config option works, I think working out this issue is worth it. The reason being to reduce the required steps for setting up an environment. With docker you basically can get your setup down to one command, except for a few configuration options. This would be another additional option tha

[2016-10-13 00:26] mattbrictson commented on #784
@pwaterz Since this issue is closed, can we move this discussion to #1427? I believe #1427 is the same problem.

[2016-10-13 00:35] mattbrictson commented on #1427
Just to reiterate/summarize this issue: Capistrano's DSL does not allow declaring two different servers with identical hostnames but different usernames.

There is currently a workaround, using a local `.ssh/config` file, which can be committed as part of the project. This solution is probably "good enough" for most people, because the `.ssh/config` only needs to be set up once when the servers an

[2016-10-13 00:47] laszlof commented on #1427
Right, sorry for the delayed response. Unfortunately the SSH config wont work in my situation. We have multiple stages with different servers, and the servers may change regularly or via the environment.

I'll take a look at the code personally when I have some free time and see if I can work together a PR to fix the issue.

If you have any information that may be useful in finding the place in th

[2016-10-13 01:30] laszlof commented on #1427
I actually managed to fix it fairly easily, adjusted a couple of the tests to fit. But ran into an issue with overriding an existing user for a host (the test caught it). Will need to dig into it a bit more to see how it can be handled.

[2016-10-13 01:32] mattbrictson commented on #1427
Unfortunately, any change we make here will likely break #1368. I am not 100% sure why, but for #1368 we made the decision to explicitly ignore username when declaring servers. In other words, the exact opposite of what is being requested for this issue.

I am guessing, but I believe the original reasoning behind #1368 comes from the discussion in #1301. Basically, some Capistrano users like the "

[2016-10-13 01:34] laszlof commented on #1427
Right. I saw the code and it seemed what was being done was intentional. I'll see if I can work something out to accommodate both cases.

[2016-10-13 01:43] laszlof commented on #1427
ok. Read through the PR. I dont really agree with what was done there. The comment regarding keeping the stages "dry" doesnt make sense to me if we have to define our users in a task, or worse, in an ssh configuration.

That being said, I can understand that some people have different use cases, but it seems like this issue keeps cropping up where people want to do things the old way.

What are yo

[2016-10-13 02:13] leehambley commented on #784
SSHKit and hence Capistrano will pick up a .ssh/config file checked into
your project for cases such as this.

(Sent from my Nexus 6, please forgive typos!)

On Oct 13, 2016 02:26, "Matt Brictson" <notifications@github.com> wrote:

[2016-10-13 15:06] JohnMerlino2 opened #1788 "cap aborted! Don't know how to build task 'deploy:setup'"
I have a very bare bones deploy. Was just trying to test it with capistrano but I keep on getting errors. I run the following:

bundle exec cap staging deploy:setup

And get the following error:

(Backtrace restricted to imported tasks)
cap aborted!
Don't know how to build task 'deploy:setup'

(See full trace by running task with --trace)

All the right gems are installed:

$ gem list | grep capis

[2016-10-13 16:28] mattbrictson commented on #1788
There is no such thing as a `deploy:setup` in Capistrano v3. To see a list of all valid Capistrano tasks, run:

[code]

You probably want to run just `deploy`, since in Capistrano v3 that should build any directories and shared symlinks. There is no special task for deploying for the first time.

If there is something in particular you are trying to accomplish, I'd recommend reading the [official

[2016-10-13 16:28] #1788 closed

[2016-10-13 19:33] mattbrictson opened #1789 "Latest version of mocha breaks Capistrano specs"
Mocha 1.2.0 was just released. Updating causes Capistrano specs to fail.

### Steps to reproduce

1. In Capistrano master
2. `bundle update`
3. `bundle exec rake`

### Expected behavior

All specs should pass.

### Actual behavior

[code]

[2016-10-13 21:37] caius commented on #1789
Figured out a fix for this, it's an interesting one. PR incoming

[2016-10-13 22:04] #1789 closed

[2016-10-14 00:40] mattbrictson commented on #1427
Hmm. I would prefer not to add a setting.

Instead, what if we internally track a "key" for each server which is the string that was used to originally declare it. We always match on this key. (That means we could use a Hash, rather than looping through servers using `matches?`.)

For example:

[code]

Another example:

[code]

This might make everyone happy. Thoughts?

[2016-10-14 00:47] laszlof commented on #1427
That was one of my initial thoughts,  but may break existing installations
that rely on the existing functionality. But if your ok with that,  I can
probably work out a patch over the next couple days to make it happen.

[2016-10-14 01:05] mattbrictson commented on #1427
Yes, it will definitely break a handful of tests. Let's allow the discussion to continue for a bit longer before jumping into code.

@leehambley @ain @townsen Any thoughts on this?

[2016-10-14 01:06] laszlof commented on #1427
Fair enough!

[2016-10-14 03:08] mattbrictson commented on #1427
BTW, here's my initial take on a possible implementation:

[code]

[2016-10-14 13:41] halfbyte commented on #1775
Hiya,

if you want to try this out, we’re now ready for signups, so someone with admin access to the capistrano repos (we’ll need that for installing a webhook to get notified on updates and test statuses) should sign up at https://depfu.io and activate the repo there. The process is very similar to activating travis-ci for example.

(Yes, we’ve renamed the project. Naming is hard, but we’re happy

[2016-10-17 14:35] laszlof commented on #1427
Seems pretty good from just looking over it, havent had a chance to test yet.

[2016-10-18 03:14] mattbrictson commented on #1710
#1745 was merged so this can be closed.

[2016-10-18 03:14] #1710 closed

[2016-10-18 03:19] mattbrictson opened #1792 "Make SCM plugin registration more explicit"
Per @will-in-wi's [comments](https://github.com/capistrano/capistrano/pull/1572/files#r54174714) originally in #1572:

[code]

@mattbrictson:

@will-in-wi

[2016-10-18 03:42] mattbrictson commented on #1792
One option is to add a new registration method, `install_scm`. In other words, an SCM would be activated like this:

[code]

It works the same as `install_plugin`, except it sets an extra bit of state that says "an SCM has been registered". The SCMResolver can know for sure that the user has selected an SCM instead of using an error-prone heuristic.

Alternatively, we introduce a `Capistrano::SCM:

[2016-10-18 03:44] mattbrictson commented on #1754
#1572 has been merged, so you can try this out in `master` now.

[2016-10-18 03:44] #1754 closed

[2016-10-18 12:40] will-in-wi commented on #1792
This looks good to me. It _might_ make more sense to have the `SCM::Plugin` class instead be a mixin. I try to avoid abstract base classes in Ruby unless there is significant shared code and reused API. In this case, the shared API is very limited.

Alternately, we could define a bit of plugin API with a `#type` method. This could return a symbol like `:scm`.

[2016-10-18 20:23] itsSaad commented on #708
how do we get the exception inside the deploy:failed hook?
something like this:
[code]

[2016-10-19 00:04] mattbrictson commented on #708
@itsSaad you could try: `puts $!`

[2016-10-19 05:52] itsSaad commented on #708
`$!` give me only a string description like `Exception while executing on host <my-ip>: exit`.
What i think I need was discussed by @seenmyfate above. But that specific feature didnt make it in the pull request #756

[2016-10-19 15:15] mattbrictson commented on #708
`$!` should be the exception object, not a string. From there you can get:

* `$!.backtrace`
* `$!.class.name`
* `$!.inspect`

What specifically are you looking for?

[2016-10-20 16:31] ryderstorm commented on #1079
@tom-lord - comments like [yours](https://github.com/capistrano/capistrano/issues/1079#issuecomment-252850010) bolster my faith in humanity. I've been needing a fix for this for months.

[2016-10-20 18:45] mattbrictson commented on #1079
@tom-lord @ryderstorm If we could do a better job at documenting this, please feel free contribute a PR and I'll merge it. Thanks!

[2016-10-21 07:32] leehambley commented on #1079
Locking the issue because we ought all to know how the relationship between a tty and terminal control colorization codes works... Colorization is not magic, it's a feature of a terminal. No terminal, no colours, without forcing the issue.

[2016-10-24 15:50] Loschcode opened #1796 "Capistrano not able to recognize application.yml as linked_file"
Hi,

In my `deploy.rb` I've got the following line :

[code]

Which's as I understood the way to set specific files as `shared` through releases. When I try to deploy, the `config/application.yml` makes lots of problems :

[code]

_NOTE : if I remove it from the `linked_files` the deployment works like a charm._

The detail of the shared files on the server are as such :

[code]

It sounds a lot l

[2016-10-24 16:01] Loschcode commented on #1796
Nevermind, the `application.yml` was created as a directory and I didn't spot this before, was a long day ;)

[2016-10-24 16:01] #1796 closed

[2016-10-25 14:51] mattbrictson commented on #1786
@JohnMerlino2 I assume this is resolved. Closing.

[2016-10-25 14:51] #1786 closed

[2016-10-25 16:26] mattbrictson commented on #1792
Here's my first take on a PR: #1797

[2016-10-25 19:04] koenpunt commented on #1686
My use case is that I'm using [capistrano-foreman](https://github.com/koenpunt/capistrano-foreman), with an additional task for restarting single processes:

[code]

This so I can do some sort of a rolling restart from Capistrano:

[code]

[2016-10-27 16:20] mattbrictson commented on #1792
Closed via #1797

[2016-10-27 16:20] #1792 closed

[2016-10-30 22:27] mattbrictson opened #1798 "Release 3.7.0.beta1?"
Given that Capistrano 3.7.0 will contain a fundamental change to the SCM system, I think this may warrant a beta release.

Any objections?

Are there any outstanding issues or PRs to resolve before releasing 3.7.0.beta1?

/cc @leehambley @will-in-wi

[2016-10-31 11:41] Medesko opened #1799 "Capistrano 3 symlink task"
Hi,

I want to create the symlink config/parameters.js shared folder to my release_path

This not work Capistrano 3
`task :symlink do
    execute "rm -f #{release_path}/config/parameters.js"
    execute "ln -nfs #{shared_path}/config/parameters.js #{release_path}/config/parameters.js"
  end
`

Please someone can help me ?

[2016-10-31 12:08] mikegee commented on #1799
Instead of defining that `symlink` task, try this config:

[code]

http://capistranorb.com/documentation/getting-started/configuration/

[2016-10-31 12:43] Medesko commented on #1799
thanks

[2016-10-31 12:43] #1799 closed

[2016-11-02 15:01] will-in-wi commented on #1798
I like the idea of a beta release. I don't see anything blocking with just a quick look at the ticket queues.

[2016-11-02 15:37] leehambley commented on #1798
No issue with a beta release, pets see how many people use it and allow
that to inform our decisions in the future

(Sent from my Nexus 6, please forgive typos!)

On Nov 2, 2016 16:01, "William Johnston" <notifications@github.com> wrote:

[2016-11-02 20:26] laszlof commented on #1427
Any further progress on this?

[2016-11-03 02:34] mattbrictson commented on #1427
I think there's been enough time for discussion and we can move ahead with a PR. Would you mind opening a PR? You can use [my suggestion](https://github.com/capistrano/capistrano/issues/1427#issuecomment-253698654) as a starting point if you like.

[2016-11-03 03:49] mattbrictson commented on #1798
🚢🍾✨

https://rubygems.org/gems/capistrano/versions/3.7.0.beta1
https://github.com/capistrano/capistrano/releases/tag/v3.7.0.beta1

[2016-11-03 03:49] #1798 closed

[2016-11-03 13:10] laszlof commented on #1427
Matt,

Sure, I'll go ahead and open a PR when I have some free time. Thanks!

[2016-11-03 15:46] mattbrictson commented on #929
Capistrano 3.7.0.beta1 has been released! 🎉

This version brings a new SCM plugin system, and notably for observers of this thread, it adds `set :scm, nil` to disable SCM behavior completely. You can read more about the new behavior here:

* [Custom SCM](http://capistranorb.com/documentation/advanced-features/custom-scm/) (official how-to from the docs)
* [Capistrano 3.7.0 upgrade guide](https://g

[2016-11-03 15:46] #929 closed

[2016-11-03 15:49] mattbrictson commented on #1125
Capistrano 3.7.0.beta1 has been released! 🎉

This version brings a new SCM plugin system, and notably for observers of this thread, this makes it much easier to override pieces of the SCM behavior. SCM is now installed via your Capfile, which means the SCM tasks are loaded and available for you to override in `deploy.rb`. You can also customize SCM behavior by subclassing to create your own plugin

[2016-11-03 15:49] #1125 closed

[2016-11-03 15:52] mattbrictson commented on #1042
Capistrano 3.7.0.beta1 has been released! 🎉

This version brings a new SCM plugin system, which makes it much easier to override Git tasks or completely replace the SCM behavior with your own code. SCM is now installed via your Capfile, which means the SCM tasks are loaded and available for you to override in `deploy.rb`.

SCM plugins use `require`, not `load`, and are explicitly installed. No mag

[2016-11-03 15:52] #1042 closed

[2016-11-04 10:24] avekrivoy opened #1800 "Add task for deleting failed deploy directory after deploy:failed"
Hi!
I'm using Capistrano 3. How can I delete failed releases on deploy:failed without writing my own task? The point is that failed releases stay in the releases directory and accidentally I can rollback to broken release by typing cap deploy:rollback
For now I'm using this task:

namespace :deploy do

  desc 'Delete failed release'
  task :rm_failed do
    on roles(:all) do
      execute(:rm, "-r

[2016-11-04 11:59] leehambley commented on #1800
Support is done at https://groups.google.com/forum/#!forum/capistrano

[2016-11-04 11:59] #1800 closed

[2016-11-08 15:59] aleksejlopasov opened #1801 "'repo' directory size increasing"
**Important:** GitHub issues are for feature requests or bug reports. The Capistrano team recommends you use [Stack Overflow](http://stackoverflow.com/questions/tagged/capistrano) for general questions. For more details, please see our [contribution policy](https://github.com/capistrano/capistrano/blob/master/CONTRIBUTING.md).

---

### Steps to reproduce
1. Deploy your project (Only master branch

[2016-11-08 16:11] mattbrictson commented on #1801
Sorry, I haven't encountered this problem before. Does `git gc` help? If so, you could write a custom task that runs `git gc` after a successful deploy.

[2016-11-08 16:12] leehambley commented on #1801
The size of this dir is surely subjective. You might consider to run `git gc` in this directory and share the results. It's entirely likely that your repository simply includes a lot of larger binary assets, hence the ballooning size.

As @mattbrictson just suggested if `git gc` helps, it would be pretty easy to gc this directory after a successful deploy.

[2016-11-09 08:23] aleksejlopasov commented on #1801
Thanks for your help. Git gc really helps

It has been compressed to 133M, like it was cloned for the first time. Will 'git gc' bring a new surprises in future deployments?

[2016-11-09 08:40] leehambley commented on #1801
No, from the docs:

[code]

Do you need assistance with writing an `after` hook to run `git gc` after your deployment?

[2016-11-09 08:42] aleksejlopasov commented on #1801
No, thanks. It's not a problem for me =)

[2016-11-09 08:43] #1801 closed

[2016-11-10 10:52] larryzhao commented on #1058
@mattbrictson is this feature already included? I mean to avoid flood to fetch the code in group.

[2016-11-10 14:53] mattbrictson commented on #1058
@larryzhao No, this configuration is not included. You will need to override the Rake tasks, as [suggested above](https://github.com/capistrano/capistrano/issues/1058#issuecomment-153144522).

[2016-11-10 16:27] Lctrs opened #1802 "[Question] How to get current server host in multiple servers deployment"
Hello,

I need to deploy an application to multiple servers and adapt the deploy_to path in function of the server's hostname declared in the config.

Is there a way of achieving this ?

Below my current config for (maybe) a better understanding.

[code]

Best regards,

[2016-11-10 16:48] mattbrictson commented on #1802
Unfortunately, no. Capistrano variables are global for a particular execution of `cap deploy`, which means they cannot be adapted based on host. If you are writing custom tasks using custom variables, there are ways around this using lambdas that accept a host as an argument. But `:deploy_to` is a core part of the framework and so such customization is probably not possible.

You might check Stack

[2016-11-10 16:48] #1802 closed

[2016-11-11 04:32] larryzhao commented on #1058
@mattbrictson Thx Matt.

[2016-11-11 05:14] larryzhao commented on #1058
Found the cure on the server side.

You could tweak `MaxStartups` in `/etc/ssh/sshd_config` on the server of Gitlab installation.

Default value is `10:30:60`, the first `10` limits this.

[code]

[2016-11-12 16:19] Rubioli opened #1803 "Migration status before deploy"
I am using `capistrano raisl gem` in my application. When I run `cap production deploy` it deploys my changes and at the same time it runs my `db:migration` and runs all my pending migration.

For a testing reason I don't want it to run `cap production deploy:migrate` on `deploy`.

How can I prevent it to run `deploy:migrate` when deploying and more importantly how I can see my migrations `status`

[2016-11-12 19:45] #1803 closed

[2016-11-12 19:45] leehambley commented on #1803
Please read the CONTRIBUTION guidelines before deleting them and posting in the wrong place.

[2016-11-15 15:46] mattbrictson commented on #1058
For future reference, here's another recent Stack Overflow report of the "too many Git SSH connections" problem causing Capistrano to fail: http://stackoverflow.com/questions/40490835/cannot-deploy-multiple-hosts-in-capistrano

[2016-11-24 06:27] hoasung01 commented on #1491
Do you get this error when deploy with specific branch like that:
[code]
I found a way to resolve it is: delete the current repo but I do not want like that so is there another way

[2016-11-25 11:01] thbar opened #1806 "Could harrow:install be opt-in rather than opt-out?"
I'm a long-time capistrano user coming back to it after a lack of need to use it. First, thanks for your work on this!

I've been kind of surprised to see `bundle exec cap install` take around 1 minute here today:

[code]

I've read a bit on Harrow (including [here](http://capistranorb.com/documentation/harrow/) where it is stated that "Capistrano (...) will include discrete hooks offering Harrow

[2016-11-26 08:39] leehambley commented on #1806
Thanks for the bug report. I am currently on vacation until the middle of
next week, but will investigate when I get back. Ahoy!

(Sent from my Nexus 6, please forgive typos!)

On Nov 25, 2016 11:01 AM, "Thibaut Barrère" <notifications@github.com>
wrote:

[2016-11-26 14:57] Mingan commented on #1545
We've recently migrated our repository, changed the `:repo_url` option and got bitten by this problem. This issue is old and there doesn't seem to be any progress. Shouldn't it be at least documented? Is [this file](https://github.com/capistrano/capistrano/blob/master/docs/documentation/getting-started/configuration/index.markdown) the right place for a warning?

[2016-11-26 15:24] will-in-wi commented on #1545
@Mingan: It would probably be a good idea to at least have a note for the time being in the file you referenced, probably in the `:repo_url` section. Would you be willing to put together a PR for this?

Thanks!

[2016-11-27 08:04] Edwardzyc opened #1808 "Capistrano TMP files"
Does capistrano cleanup the tmp shell files created in /tmp?

[2016-11-27 22:20] openscript opened #1809 "How to use after with a custom task?"
Since hours I try to run a simple task after the publishing is done. I'm on Capistrano 3.6.1 and this is my `deploy.rb` which fails:

[code]

This is the error I get:
[code]

Does someone have a hint for me?

[2016-11-27 22:22] #1809 closed

[2016-11-27 22:23] openscript commented on #1809
Ah I got it.

[2016-11-28 15:37] leehambley commented on #1808
No.

[2016-11-28 15:37] #1808 closed

[2016-11-30 22:24] EddieOne commented on #1773
This worked, thanks 👍

[2016-12-02 13:47] markri opened #1810 "Removing old releases goes wrong"
When removing old releases (default behaviour, and explicitly setted at :keep_releases: 5) it removes the newly created release instead of the old releases.

Looking at lib/capistrano/tasks/deploy.rake @ line 151 it says

`releases = capture(:ls, "-xtr", releases_path).split`

Which should be an ordered list, but executing it on command line shell it give me
[code]

For more easy viewing I added s

[2016-12-02 14:12] will-in-wi commented on #1810
Odd. According to my shell, `-t` sorts by update time, and is resulting in the issue.

I wonder whether this is intended and the bug is in the fact that the releases are created at different times, or whether we should drop the `-t` and depend on the folder names instead…

[2016-12-02 14:19] markri commented on #1810
As I want to continue on my project I just removed the r and t flag which working fine for me now

[2016-12-02 16:10] mattbrictson commented on #1810
Looks like we will have to roll back #1141, which is what introduced the `-t` flag. AFAIK, there is not a reliable way to sort by creation date. The `-t` flag sorts by modification date, which *often* correlates with creation date, but is not guaranteed.

@markri Would you like to take a shot at a PR?

/cc @plu @leehambley

[2016-12-02 17:42] leehambley commented on #1810
Agreed, roll it back. This feels like an eight year long running joke :( this has *never* worked reliably. We have the flag to `ls` because peopel can customize the release directory name to something that doesn't sort properly in Ruby (say, SHA1 hashes or something nonsensical) and then they need to rely on the filesystem.

We could also consider *explicitly* updating directory attrs on deploy, t

[2016-12-02 18:14] mattbrictson commented on #1810
Maybe we should print a warning and skip `cleanup_releases` if the releases directory contains anything other than the default timestamped-based directory names. That way people customizing the release names or otherwise messing with that directory are not at the risk of unexpected data loss.

[2016-12-04 21:31] mattbrictson commented on #1806
@thbar The slowness issue seems to be fixed. If it works for you, can we close?

[code]

[2016-12-05 11:38] markri commented on #1810
Just created a PR which fixes this issue. Included a warning and cleanup skip when other folders are found than timestamp folders

[2016-12-06 22:01] d4ins opened #1812 "Deployment bug when you change remote repository"
Dear Capistrano team,

Recently I changed my repository from _bitbucket_ to _gitlab_ and face problem with deploy. My deployment, even if it was changed in `deploy.rb`, still wanted to connect to _bitbucket_.

Yes, I figure it out. I had to go to my server, and change `repo/config` file manualy. Basically, it's not a big deal and if you know what to correct and why problem appears it's easy to fix

[2016-12-06 22:10] mattbrictson commented on #1812
Thanks for the report; it is a good suggestion. We are already tracking this in #1545. If you have the capacity to help fix this, we would appreciate the contribution!

Closing as duplicate of #1545.

[2016-12-06 22:10] #1812 closed

[2016-12-09 22:12] mattbrictson opened #1813 "Release Capistrano 3.7.0 (final)"
The good news is that we didn't receive any bug reports for 3.7.0.beta1. The bad news is that we got [relatively few downloads](https://rubygems.org/gems/capistrano/versions/3.7.0.beta1) for the beta, so I guess the lack of reports is not surprising. The lesson here is that maybe betas are not worth the trouble?

Anyway, are we all good for releasing the final version of 3.7.0? I can handle updati

[2016-12-10 13:33] will-in-wi commented on #1813
Sounds good to me!

[2016-12-10 18:16] leehambley commented on #1813
It's the final nail in the "beta release" coffin for me, they are *never* used.

[2016-12-10 19:15] mattbrictson commented on #1813
🚢 https://github.com/capistrano/capistrano/releases/tag/v3.7.0

[2016-12-10 19:15] #1813 closed

[2016-12-11 11:19] randoum commented on #943
@leehambley
I see it's finaly coming ... a year and half later. Patience is a vertue. You guys rock (can we still say "rock" in 2016? )
https://github.com/capistrano/capistrano/commit/4c6e559fda3c5c057449776f8531303544ac57f6

[2016-12-14 16:10] aleksejlopasov opened #1815 "git:update task takes too long"
---
Hi,
We have noticed that git:update task takes too long when deploying our project. It can take up to 2-3 minutes to fetch all the objects
We have set git_shallow_clone = 1 to make git clone/fetch only master branch, but today we have noticed, that 'git fetch --depth 1 origin master' tries to receive all the objects in this branch while 'git remote update --prune' updates only changed objects

[2016-12-14 19:31] godoftheds opened #1816 "Typo in hg.rake preventing release with mercurial"
### Steps to reproduce
Attempt to release via mercurial

### Expected behavior
Release happens

### Actual behavior
Release fails on the hg:clone step it throws the following error:
The deploy has failed with an error: undefined local variable or method `hr' for #<SSHKit::Backend::Netssh:0x00000001190540>

It looks like this issue is just caused by a typo in  capistrano/lib/capistrano/scm/tasks/hg

[2016-12-14 19:59] mattbrictson commented on #1816
Thanks for pointing this out! Can you put together a quick PR with a CHANGELOG entry?

[2016-12-14 20:42] mattbrictson commented on #1815
Thanks for the report! I am not familiar with this feature, so I am going to need help from other Capistrano committers.

@joebew42 @pwaterz Since you authored the git shallow clone feature (#1473, #1476), can you provide some feedback on this issue? Thanks.

[2016-12-14 20:43] godoftheds commented on #1816
I won't be able to until tomorrow so if someone just wants to do it tonight they can go ahead. Otherwise I'll do it in the morning

[2016-12-14 20:44] pwaterz commented on #1815
@aleksejlopasov What version of git are you using?

[2016-12-15 10:10] aleksejlopasov commented on #1815
git version 2.10.0

I think the best way to clone only the master branch and to get only changed objects while fetching is to modify sources of 'Method: Capistrano::Git::DefaultStrategy#update'

# File 'lib/capistrano/git.rb', line 32

def update
  # Note: Requires git version 1.9 or greater
  if (depth = fetch(:git_shallow_clone))
    git :fetch, '--depth', depth, 'origin', fetch(:branch)   -> ch

[2016-12-15 15:55] pwaterz commented on #1815
By doing that, would you then not have a shallow cloned repo anymore?

[2016-12-16 16:20] #1816 closed

[2016-12-19 22:36] Screon commented on #1751
Just `ssh-copy-id deploy@IPADDRESS` on your local mashine.

[2016-12-20 06:04] SakthiGurunathan07 commented on #1702
@vpuzzella @mattbrictson  whether this issue will be fixed ?? Is there any way to override capistrano internal task update_asset_mtimes

[2016-12-20 14:18] leehambley commented on #1702
- http://blog.jayfields.com/2008/02/rake-task-overwriting.html

Capistrano tasks are rake tasks, so this 2008 guide works fine.

[2016-12-20 15:52] teaearlgraycold opened #1821 "Problem when deploying after updating to 3.7.0"
### Steps to reproduce

We used to use bitbucket for source code hosting, and later moved to github. I found that one of our apps had difficulty at this step during deployment:

[code]

Which would yield the following response from git:

[code]

I eventually found that the problem was that capistrano was not updating the "origin" remote configured in `/opt/.../repo/config` to my new github repo, e

[2016-12-20 16:30] mattbrictson commented on #1821
Hi, sorry you ran into this issue. This problem (Capistrano's inability to automatically detect a changed `repo_url`) predates 3.7.0, and is being tracked in issue #1545. I'll close this one as a duplicate.

[2016-12-20 16:30] #1821 closed

[2016-12-20 16:34] mattbrictson commented on #1702
@SakthiGurunathan07 to be honest, it is unlikely that this issue will be fixed. It is a Capistrano v2 issue, which is an old version we no longer support.

[2016-12-20 17:44] teaearlgraycold commented on #1821
Alright, thanks for letting me know

[2016-12-20 18:13] leehambley commented on #1702
Closing the issue, I consider that since 3.x is more than three years old now, 2.x is EOL and won't recieve any more updates.

[2016-12-20 19:46] #1702 closed

[2016-12-20 23:16] BenoitHiller opened #1822 "run_locally ignores --dry-run"
run_locally ignores the --dry-run flag and runs anyway. This seems to be because in https://github.com/capistrano/capistrano/blob/master/lib/capistrano/dsl.rb#L68 the current sshkit backend is ignored and the local one is used directly.

### Steps to reproduce
So with the following contrived test case:
[code]
Then running it with `cap --dry-run stage test_case:testing`
### Expected behavior
It sho

[2016-12-21 00:37] word commented on #1686
As long as you remember that rake is declarative, the behavior of 'invoke' is perfectly fine.  Changing it  because some folk incorrectly expect it to behave procedural doesn't sound great.   Doing so would be very confusing to those who are familiar with rake and even more confusing to those who use both!  For consistencies sake, please add another method instead and keep the existing behavior as

[2016-12-21 08:12] leehambley commented on #1822
`run_locally` is almost certainly going to go away. To help us weigh the ideal replacement for it, what exactly is your use-case for it?

We know that many people use it for tarring up files locally (a Rake `file` or `dir` task is better suited), or for building assets/etc using some build pipeline tool (for which Rake+Ruby's `sh` is better suited). When those replacements are used, the need to `r

[2016-12-21 08:36] leehambley commented on #1686
I concur.

[2016-12-21 14:27] 1st8 commented on #1409
I proposed a way to handle `:git_enable_submodules` in https://github.com/capistrano/capistrano/pull/1823 which works nicely for me so far.
Please let me know what you think.

[2016-12-21 23:40] BenoitHiller commented on #1822
I'm honestly just using it to implement something similar to https://github.com/yannlugrin/capistrano-git-push but as a SCM plugin(see [this line](https://github.com/yannlugrin/capistrano-git-push/blob/master/lib/capistrano/git/push_strategy.rb#L29) for the basic idea). So probably not the kind of usage you are planning to support/condone.

However it looks like due to what is discussed in #1566 i

[2016-12-22 06:32] leehambley commented on #1822
Awesome, @mattbrictson will be thrilled to see his work being the foundation of an ever-expanding ecosystem of SCM drop-ins! 🎉

Right, but that's a bug (as you correctly point out). I had a fun experience recently trying to figure out if `exec`  (as-in `fork/exec`) was vulnerable to shell escaping risks, it turns out that no shell, means no shell escaping. So if you want to drive git, directly 1:1

[2016-12-22 06:37] leehambley commented on #1822
To address this point, I think that `SSHKit::Backend::Local.new(&block).run` should just be replaced with a https://github.com/capistrano/sshkit/blob/master/lib/sshkit/backends/printer.rb, although ideally a forked Backend::Printer that can change the logging to say `LOCALLY ..... ` or something otherwise it might be *very* confusing.

As I said, more than happy to take a patch, we love to encoura

[2016-12-24 03:10] mattbrictson commented on #1810
Fixed via #1811 and released in 3.7.0.

[2016-12-24 03:10] #1810 closed

[2016-12-24 03:11] mattbrictson commented on #1776
Custom filters were added in 3.7.0 via #1777.

[2016-12-24 03:11] #1776 closed

[2016-12-24 03:15] mattbrictson commented on #1395
We removed this section of the template entirely in 3.6.0 (via #1716) to avoid confusion. So I'm considering this issue closed.

[2016-12-24 03:15] #1395 closed

[2016-12-24 03:18] mattbrictson commented on #1427
@laszlof Are you still planning on submitting a PR for this? No pressure, just curious! If you don't have time, let us know so that someone else can take a shot at it. Thanks!

[2016-12-24 03:20] mattbrictson commented on #1806
I'll consider this fixed.

[2016-12-24 03:20] #1806 closed

[2016-12-24 15:22] vevisystems commented on #1427
In the meantime, we would like to share yet another workaround we have found, it's like @leehambley alternative but instead of using a SSH config file, you can set ssh options next to your server definitions:

server 'server_role_1', user: 'user1', roles: [...], ssh_options: { host_name: 'myserver.com' }
server 'server_role_2', user: 'user2', roles: [...], ssh_options: { host_name: 'myserver.com'

[2016-12-24 17:01] mattbrictson opened #1824 "Cap fails to start when SCM plugin is installed too early in Capfile"
Originally reported on Stack Overflow here: http://stackoverflow.com/q/41307044/4625365

### Steps to reproduce

1. Generate a Capfile and supporting files using `cap install`.
2. Edit the resulting Capfile so that `install_plugin Capistrano::SCM::Git` comes before `require "capistrano/deploy"` (see example below).
3. Try to execute a `cap` command.

[code]

Capfile:

[code]

### Expected behavior

[2016-12-27 19:28] laszlof commented on #1427
@mattbrictson Unfortunately my priorities have changed onto another project for now and have not had a chance to work on this. We have a workaround in place for the time being.

That being said, I think its an important feature and can get to it "some time." But if you have some spare bandwidth or someone else wants to take a crack at it feel free!

[2016-12-28 01:10] mattbrictson commented on #1824
An additional aspect to this issue: When upgrading an existing project to 3.7.0, the user is given this instruction:

[code]

The message does not say *where* in the Capfile these lines should be added, so it is understandable that users could make a mistake.

[2017-01-03 10:49] wangboguo commented on #1227
@stamm Thank you! I deleted dir repo and it solved my problem!

[2017-01-03 10:50] wangboguo commented on #972
Deleting repo folder worked for me.
Setting repo_url didn't work.

[2017-01-05 13:51] gonace opened #1829 "Property filtering on roles"
I have a few stages (test/qa, staging and production) and I'm deploying multiple applications in the same Capistrano instance, some of these applications have scripts that I need to run on some of the stages.

For example, when deploying to stage I'd like to run a database, reset script for the specific application, I don't wan't to have a bunch of if statements so I'd like to enable this by a pro

[2017-01-05 15:22] gonace commented on #1829
As far as I can tell, _Property Filtering_ only works on "server"? I've been able to get _Property Filtering_ working there but not for roles.

[2017-01-05 16:20] leehambley commented on #1829
I think you'll find that the role a server is in is part of it's properties, if memory serves, and unfortunately I can't check for you now, servers have a `roles: []` (or a `Set`?) property which should fulfil your use-case.

[2017-01-05 16:39] gonace commented on #1829
Hi
Thanks your reply, the setup is currently as this:
[code]

[2017-01-05 17:03] mattbrictson commented on #1829
`role` is just syntactic sugar for declaring servers. Assuming you are using Capistrano 3.6.0 or newer, then to see what servers and properties are created, run:

[code]

The servers will be listed at the bottom of the output. You can do your property filtering against that data.

If the resulting server configs are not what you expect, you may not be using the `role` and `server` DSL as the autho

[2017-01-05 17:18] gonace commented on #1829
Oh I see, so well in that case :reset is true on all server, which makes sense.
[code]
So is there a "simple" way to achieve what I'm asking for?

[2017-01-05 17:48] mattbrictson commented on #1829
Properties are applied to servers, not to roles, so I'm afraid there isn't a straightforward way to do this. You'll probably need to approach the problem from a different angle. Maybe crosspost at Stack Overflow for more feedback.

[2017-01-05 17:56] gonace commented on #1829
I'll do that, thanks for the clarification :)

[2017-01-12 07:37] aiyanbo commented on #1409
+1

[2017-01-12 08:24] 1st8 commented on #1409
Could you try https://github.com/ekho/capistrano-git-with-submodules ?
It works great for me.

[2017-01-12 09:06] leehambley commented on #1409
Ekho's plugin is the way this was intended to be solved. The SCM plugin code that landed ~3.6-3.7 was intended to support just this use-case. Git submodules are not without their downsides and complexities, so we took care to make them pluggable so that people could pick their preferred method.

[2017-01-12 09:06] #1409 closed

[2017-01-15 12:02] zw963 opened #1830 "set a variable can be access outside task block."
Following is a example:

[code]

I want to know how to set a condition for this case. Thanks.

~~BTW:  set a constant is worked, but, this not the correct way, right?~~

Thanks

[2017-01-15 12:12] #1830 closed

[2017-01-15 12:13] leehambley commented on #1830
Please see the mailing list for support and pay attention to the `CONTRIBUTING` guidelines. https://groups.google.com/forum/#!forum/capistrano

[2017-01-18 04:44] paulschreiber opened #1831 "git plugin causes "fatal: destination path 'xxx' already exists and is not an empty directory" errors when deploying"
Config:
macOS 10.12.2
ruby 2.4.0 (under rbenv 1.1.0-2-g4f8925a)
Capistrano 3.7.1

After updating to Capistrano 3.7.1, I got this warning:

I added those lines to my Capfile. It now looks like this:
[code]

Running `cap production deploy` fails like so:
[code]

If I remove those lines, the deploy succeeds.

[2017-01-18 05:30] mattbrictson commented on #1831
Thanks for the report! It looks like you are customizing Capistrano's behavior. Do you know where this command is coming from?

[code]

It may also help to post your `cap production doctor` output so we can look there for clues.

[2017-01-18 05:35] paulschreiber commented on #1831
I used https://gist.github.com/corny/7459729 to enable submodule support.

In `lib/tasks/git.rake`, I have:
[code]

[2017-01-18 16:40] mattbrictson commented on #1831
Ah, that is the problem.

The reason for the error is that the Gist redefines the `create_release` task. In Capistrano (which is based on Rake), redefining a task *augments* the task instead of replacing it. Thus `create_release` will now execute *both* behaviors: it first does the Capistrano default git behavior (`git archive`) and then does the custom behavior defined by the Gist (`git clone`).

[2017-01-18 16:40] #1831 closed

[2017-01-18 16:46] dan-passaro opened #1832 "Allow cap command to work from within subdirectory"
Using capistrano 3.7.1, if I run `cap qa deploy` from a subfolder, it says

    Stage not set, please call something such as `cap production deploy`, where production is a stage you have defined.

So my `cap qa deploy` has turned into `cd .. && cap qa deploy && cd -`

It's a very minor annoyance but I run into it all the time.  Would it be okay for cap to behave like rake and git in that it search

[2017-01-18 16:54] leehambley commented on #1832
Are you *sure* Rake looks in parent directories, we are based on Rake, and I don't have the feeling that it does.

[2017-01-18 17:13] mattbrictson commented on #1832
I believe `rake` *does* search parent directories until it finds a `Rakefile`. I've encountered this behavior before.

However, I don't know why `cap` doesn't do the same thing, nor do I have a good intuition for how much work is required to make this change.

One question we'd have to answer: when loading `config/deploy.rb`, etc., should that be relative to the working directory, or relative to t

[2017-01-18 20:20] mattbrictson commented on #1832
Here's the relevant bit of code from rake:

https://github.com/ruby/rake/blob/93e55a4ef1dbaee42f0f355f86d837c4e2551fc1/lib/rake/application.rb#L655-L665

[2017-01-18 21:21] dan-passaro commented on #1832
Rake also seems to change its working directory. At least 10.4.2 I'm able to cd to a subdir and run "rake serve" for one of my projects where the serve command does `sh "python some_script.py"`.

Although the `ensure` block in the linked code makes it seem like that shouldn't happen...

Either way it does seem appropriate for cap to use the Capfile directory as its working directory

[2017-01-19 01:48] mattbrictson commented on #1832
I don't have time to do all the testing and documentation necessary for a PR at the moment, but this patch seems to be the fix:

[code]

Does anyone want to run with this and make a PR?

[2017-01-19 20:30] chamini2 opened #1833 "ask function to get an option to enumerate only valid responses"
I have an `ask` call that can either be one of two values, I was thinking it would be nice if such checks could be done with an `ask` option

[code]

If something different of `ve` or `co` is given by the user, the task cancels.

[2017-01-19 21:03] mattbrictson commented on #1833
Thanks for the suggestion.

I think this is already possible by using Capistrano's validation feature, as documented here: http://capistranorb.com/documentation/advanced-features/validation-of-variables/

Specifically, you could write:

[code]

Does that work for you?

[2017-01-19 21:32] chamini2 commented on #1833
It does, I just thought more people could have this situation so it would be worth adding as an option.

[2017-01-19 22:58] mattbrictson commented on #1833
In my experience, `ask` is most commonly used to input things like passwords that cannot otherwise be stored in the deployment scripts. I haven't seen it used for multiple-choice conditionals. Maybe that's just me. I don't know how useful this would be to the typical Capistrano user.

Right now I don't see this as a high-priority (since a workaround exists), but I'll leave this open for discussion

[2017-01-19 23:31] chamini2 opened #1834 "Ask function with no default still prints parenthesis"
I find it strange that if there is no default, the `ask` function still prints `()`, what do you think of removing it?

[code]

prints

changing it to

[2017-01-20 03:22] mattbrictson commented on #1834
Yep, good point. I agree that's a bug. Fixes are welcome. 😁

[2017-01-24 06:44] cbrunnkvist commented on #722
At one place I was supposed to do a rails deployment for the ops team just laughed when I asked if they could open access between the internal git repo (let alone github) and the production server environment. 😞

A simple `set :scm, :git_copy` strategy that does exactly what you think you'd expect would be very useful in some situations.

[2017-01-24 16:35] mattbrictson commented on #722
An update for those interested: Capistrano 3.7 added the option to disable SCM entirely like this:

[code]

So now you can use Capistrano sans SCM, per the original request of this issue.

Furthermore, 3.7 adds a documented SCM plugin system to make building things like "git copy" more straightforward: http://capistranorb.com/documentation/advanced-features/custom-scm/

[2017-01-27 17:10] mattbrictson opened #1838 "Publish Capistrano 3.7.2"
I'm planning on pushing a new Capistrano release this weekend. As a general rule, I have been aiming for a 6-week cadence for gem releases across the board, and the last release for this gem was 2016-12-16.

Since there are tweaks to existing behavior but no new features (although as with everything semver, this is somewhat debatable), I am going to call it 3.7.2. Diff: https://github.com/capistra

[2017-01-27 21:25] will-in-wi commented on #1838
From a brief glance, I agree with your assessment of the version.

:+1:

[2017-01-28 01:51] mattbrictson commented on #1838
Works for me!

🚢 https://rubygems.org/gems/capistrano/versions/3.7.2

[2017-01-28 01:52] #1838 closed

[2017-01-28 21:06] mattbrictson commented on #1545
FYI, this issue has been fixed for git (but not other SCMs) in Capistrano 3.7.2. See #1826.

[2017-01-29 19:32] #1834 closed

[2017-01-29 19:32] chamini2 commented on #1834
Closed in #1835

[2017-02-01 10:35] michaelsauter commented on #1686
I just came here because I have a Capistrano task that is structured in the same way as capistrano-rails' deploy:migrate/deploy:migrating and I accidentally invoked a task multiple times due to what is described in https://github.com/capistrano/rails/issues/189#issuecomment-264716988.

I now applied the fix that capistrano-rails applied, so the task is not invoked multiple times which stops the wa

[2017-02-01 17:04] mattbrictson commented on #1686
Thanks for the feedback, everyone. 👍

In terms of next steps, it sounds like the prevailing opinion is to leave the behavior of `invoke` as-is. We could also add a new `invoke!` method that reenables the task, for users that need that functionality. Finally, we should update the wording of the warning.

Perhaps the new warning would be:

[code]

Would anyone like to contribute a PR for these chang

[2017-02-05 02:24] #1761 closed

[2017-02-06 20:15] olleolleolle opened #1842 "Bug: wrapper is uploaded quoted but is already shell-escaped"
- `git_wrapper_path` is created shellescaped
- later, in `:wrapper`, the `upload!` invocation uploads the file inside quotes ("") which makes the shellescape _double_ (or literal, if you will)

See #1840, [or the exact comment](https://github.com/capistrano/capistrano/pull/1840#issuecomment-277591323)

---

### Steps to reproduce

Have a UNIX username with escape-worthy characters in, e.g: `Charle

[2017-02-06 20:21] olleolleolle commented on #1842
Background: The unlikely scenario was triggered by https://github.com/Shopify/shipit-engine/commit/83d46c8ecb5cfc6466ff9bba95e2cabcc3861ad0

[2017-02-10 15:15] #1842 closed

[2017-02-10 22:30] jyanko opened #1844 "cannot gem install capistrano 2.14.x or 2.15.x in ruby version < 2.x"
Cannot successfully install capistrano version 2.15.x into a ruby version prior to ruby 2.0

---

### Steps to reproduce

install failing in older ruby (which used to work)
[code]

install still fails after manually installing the defined dependencies
[code]

### Expected behavior
capistrano should be able to satisfy dependencies and install.

### Actual behavior

Install to a clean gemset fails

[2017-02-11 17:17] mattbrictson commented on #1844
Thanks for the detailed report.

This is an unfortunate limitation of rubygems. Although gems like net-ssh can declare a "minimum Ruby version", `gem install` does not honor it when deciding which version to download and install. It is only when it attempts the installation does it notice the Ruby requirement and fail, and at this point it is too late.

As Capistrano maintainers, I don't think the

[2017-02-11 17:35] mattbrictson commented on #1844
This Gemfile works for Ruby 1.9.3:

[code]

[2017-02-12 03:35] l8nite commented on #1686
Just came here to see where the discussion was going. We have a bunch of custom gems that wrap up capistrano tasks for internal deployment, and I was getting the warning (probably due to some bad inheritance or dependency chains).

I'm relieved to see the default behavior won't change, and I really appreciate the warning as a means to finding these unintentional duplicate calls.

[2017-02-13 19:47] jyanko commented on #1844
@mattbrictson - thanks for the tips.

I had already started trying out using bundler to get deploy host setup but you helped drive me in the right direction as far as how to define versions in the Gemfile.

Items of note...
* for ruby 1.8.7 - must also define a version of highline in Gemfile
* for ruby 1.9.3 - highline version could be excluded in Gemfile
* saw different behavior between sources d

[2017-02-13 20:19] mattbrictson commented on #1844
You might consider opening an issue at the Bundler repo if you haven't done so already. I am pretty sure that Bundler 1.14 is supposed to honor the minimum Ruby version and do the right thing. The behavior we're seeing seems like a Bundler bug to me.

I'll close this issue since you seem to have found a workaround.

[2017-02-13 20:19] #1844 closed

[2017-02-13 23:48] jyanko commented on #1844
Thanks @mattbrictson

Just for the backreference, it looks like someone else has opened a similar issue on the bundler project over the weekend.

* https://github.com/bundler/bundler/issues/5425

I just chimed in on its comment thread

[2017-02-14 07:23] serdarsahin opened #1848 "Capistrano Detailed Logs"
Hi,

As far as I know, there is no log level that can give a problematic server.

We have 150+ servers in one of our `capistrano` deployment scripts, using `cap-ec2` plugin.

Recently, capistrano server couldn't access one of the servers and the deployment was failed. We were getting `ECONNREFUSED` error, and there were no log output that indicates which server was failing.

[code]

It would be ni

[2017-02-14 14:13] will-in-wi commented on #1848
@serdarsahin, could you upgrade to latest Capistrano and sshkit and post that backtrace? A lot has changed since Capistrano 3.5.0.

Thanks!

[2017-02-15 01:22] mattbrictson commented on #1848
SSHKit is supposed to add host information to the stack trace but I think this is a legitimate bug, even in the latest version. I'll open an issue. Thanks for the report!

[2017-02-15 01:30] mattbrictson commented on #1848
Logged here: https://github.com/capistrano/sshkit/issues/389

[2017-02-15 01:30] mattbrictson commented on #1848
Closing in favor of https://github.com/capistrano/sshkit/issues/389

[2017-02-15 01:30] #1848 closed

[2017-02-16 02:03] mattbrictson commented on #1509
I'm going to consider this issue to be done. 😄

[2017-02-16 02:03] #1509 closed

[2017-02-16 02:07] mattbrictson commented on #1206
I believe this was addressed via #1517.

[2017-02-16 02:07] #1206 closed

[2017-02-16 02:09] mattbrictson commented on #1774
Closing in favor of https://github.com/capistrano/sshkit/issues/369

[2017-02-16 02:09] #1774 closed

[2017-02-17 16:26] zebastiane opened #1849 ":repo_tree configuration doesn't work with Mercurial"
Hi,

I'm using Capistrano 3.7.1 and I wanted to use the `repo_tree` option.
Unfortunately with Mercurial it doesn't work, and deployment fails.

[code]

`git archive` writes to the standard output, but `hg archive` doesn't.

[2017-02-17 16:39] mattbrictson commented on #1849
Hi, thanks for the report! Can you also include your `capistrano [stage] doctor` output so we can see exactly what values you are using for `repo_tree` and other settings?

@townsen I think you were the developer that contributed the `repo_tree` feature. Are you available to help troubleshoot? I am not familiar with Mercurial, so my ability to assist here is fairly limited. Thanks!

[2017-02-18 18:44] hashmee opened #1850 "execute rvm:check fails capistrano"
$ cap production deploy --trace
** Invoke production (first_time)
** Execute production
** Invoke load:defaults (first_time)
** Execute load:defaults
** Invoke rvm:hook (first_time)
** Execute rvm:hook
** Invoke rvm:check (first_time)
** Execute rvm:check
cap aborted!
Net::SSH::AuthenticationFailed: Authentication failed for user deploy@35.166.106.106
/home/hashmi/.rvm/gems/ruby-2.4.0/bundler/gems

[2017-02-18 21:30] mikegee commented on #1850
Are you sure this is Capistrano's fault? It looks like the connection failed to authenticate:

[code]

Try `ssh deploy@35.166.106.106` to debug.

[2017-02-19 04:24] mattbrictson commented on #1850
Hi, I recommend checking the Capistrano documentation here:

http://capistranorb.com/documentation/getting-started/authentication-and-authorisation/

Also, @mikegee makes a good point: check that normal `ssh` works.

If you are still stuck, a good place to get help is Stack Overflow. Include output of `cap production doctor` in your question to give more context. Good luck!

---

GitHub issues are

[2017-02-19 04:24] #1850 closed

[2017-02-19 16:22] zebastiane commented on #1849
Hi,

Thanks for the reply.

[Here is a gist](https://gist.github.com/zebastiane/be5a7c3424f78481d32a7b49e741f919) with the output of `bundle exec cap recette doctor`.

Maybe a solution is to create an archive, extract it and then remove the file.

[2017-02-19 17:49] mattbrictson commented on #1849
I could be wrong, but it doesn't look like `tar` or the format of the archive is the problem. The error comes before that point:

[code]

So the way Capistrano is calling `hg` is the underlying problem, no?

[2017-02-19 19:17] mattbrictson commented on #1849
Yes, I think you are onto something here. If I were to create a branch with some changes to how Capistrano uses `hg archive`, would you be willing to test it?

[2017-02-19 21:58] mattbrictson opened #1851 "doctor reports SCM is :git, even when a different SCM is installed"
`doctor` always reports SCM is `:git`, even when a different SCM is installed.

### Steps to reproduce

Activate a non-Git SCM like this:

[code]

Then run: `cap production doctor`

### Expected behavior

Since the `:scm` variable is no longer used in Capistrano 3.7+, I would expect to not see it in the `doctor` output.

### Actual behavior

The `doctor` command shows this in the Variables section

[2017-02-19 22:02] mattbrictson opened #1852 "doctor reports that :repo_tree is an unrecognized variable"
`:repo_tree` is a valid Capistrano setting ([it is documented](http://capistranorb.com/documentation/getting-started/configuration/)). Using it should not result in warnings.

### Steps to reproduce

Specify a value for `:repo_tree`:

[code]

Then run: `cap production doctor`

### Expected behavior

`doctor` should print the value of the `:repo_tree` variable without warnings.

### Actual behavior

[2017-02-20 09:33] zebastiane commented on #1849
Yes `hg archive` needs a destination

[code]

A solution could be, replacing this [line](https://github.com/capistrano/capistrano/blob/master/lib/capistrano/scm/hg.rb#L39)

[code]

With these commands

[code]

But I don't know Capistrano guidelines and how such temporary files should be handled.

Another option is to use the `--type files` option to archive files with `hg archive`. It archives fil

[2017-03-04 15:12] #1849 closed

[2017-03-04 19:50] #1852 closed

[2017-03-06 15:43] #1832 closed

[2017-03-06 15:53] #1715 closed

[2017-03-06 16:35] #1851 closed

[2017-03-07 15:56] mcblum commented on #1824
This messed me up for quite some time until I found this. For whatever reason, in most projects, it was fine where I put it but in one it was not. It would be awesome to add directions to the notification that fires after the upgrade, per @mattbrictson's comment.

[2017-03-07 16:22] mattbrictson commented on #1824
I agree! Would you be willing to contribute a small PR to make this tweak?

[2017-03-07 16:24] mcblum commented on #1824
@mattbrictson I will give me my best shot. I am the absolute worst at Ruby but maybe this is more Bash. Anyway, why not, right?

[2017-03-07 16:37] mcblum commented on #1824
@mattbrictson tried to make a pull request to at least expand on the error but got "you are not authorized to do this."

[2017-03-07 16:53] mattbrictson commented on #1824
Hmm, there shouldn't be any restrictions for opening a PR.

Try this: go to the file you want to modify ([scm_resolver.rb](https://github.com/capistrano/capistrano/blob/master/lib/capistrano/configuration/scm_resolver.rb)) and click the pencil icon to launch the web based editor. GitHub should automatically fork the capistrano repository so you can make an edit. Once you save the changes, GitHub s

[2017-03-08 08:41] KonishiLee opened #1863 "compile assets is not the same"
There is a question when i cap production deploy for three servers, the application-xxxx.js is not the same, other two servers is same , anther one is different. please tell me how to fix it.

[2017-03-08 15:17] mattbrictson commented on #1863
Hi, sorry to hear to you are running into problems. To get help for something like this, I recommend posting your question on Stack Overflow. You will need to provide much more detail about how exactly the JS files differ, what troubleshooting you have already tried, logging output, and a description of your servers. The `cap production doctor` command can also provide useful data. Good luck!

--

[2017-03-08 15:17] #1863 closed

[2017-03-08 15:47] neohunter commented on #1788
Matt,

I do not completely understand why the setup was removed. If i do only `cap env deploy` this error appear:

[code]

Which of course makes sense, because file does not exist on server.

What I do next is copy/create the linked files there, and run `cap env deploy` again.

Is this what you do also?

[2017-03-08 16:58] mattbrictson commented on #1788
Yes, exactly. When setting up a new server for the first time, there are many things that must be done manually before Capistrano gets involved, such as:

* Installing nginx, postgres, etc.
* Setting up firewall rules
* Creating a `deployer` user
* Compiling Ruby
* And so on

Also part of those initial steps is also to create a `database.yml` file, plus any other shared files like `.env`, puma's `

[2017-03-09 08:19] KonishiLee commented on #1863
Thank u so much to anwser my question.

[2017-03-13 08:27] marcovtwout-tremani commented on #1545
It seems this issue is now also fixed for svn? https://github.com/capistrano/capistrano/commit/8cbe893ec92e9d757686a818d98d94303f454da0

[2017-03-13 14:37] mattbrictson commented on #1545
@marcovtwout-tremani Yes, it should be fixed for svn in capistrano 3.8.0. I'll close the issue.

[2017-03-13 14:37] #1545 closed

[2017-03-14 03:33] knocte commented on #440
People are still upvoting my stackoverflow answer linked above, which seems to hint that this bug is still present in 3.x.

[2017-03-14 08:32] leehambley commented on #440
thanks for checking the so answer upvote rates @knocte

[2017-03-15 11:21] seggen-ibuildings opened #1865 "cap -T is broken when a Capfile is not present in 3.8.0"
Hi,

I am on OS X (10.12.3, i.e. Sierra). I installed capistrano as described in the docs:

[code]

But when I tried to look at the available tasks, I got an error:
[code]

When I installed Capistrano 3.7.2, I got:

[code]

PS, my Ruby version:

[code]

[2017-03-15 14:39] mattbrictson commented on #1865
You are right! Not sure how that slipped through. Probably related to #1860.

[code]

Although to be clear, `cap -T` does work fine if you run it in a project that has a Capfile.

[2017-03-15 14:41] mattbrictson commented on #1865
Thanks for reporting this! If anyone has an idea for a fix, feel free to open a PR. I may not get to this for a few days.

[2017-03-15 22:25] avonderluft opened #1866 "airbrussh configuration of command_output not working"
### Steps to reproduce

Using default airbrussh format in cap 3.8

In my deploy.rb I'm setting `command_output` to false, but everything still shows on the console.
[code]

### Expected behavior
no output (or minimal) to console

### Actual behavior
Full output to console, no matter what is set as `command_output` false or :stderr

### System configuration
https://gist.github.com/avonderluft/d4ba9

[2017-03-16 00:47] mattbrictson commented on #1866
Closing in favor of https://github.com/mattbrictson/airbrussh/issues/104

[2017-03-16 00:47] #1866 closed

[2017-03-17 16:00] rmansnacks commented on #807
No -s option means im screwed now. Recently i was asked to move svn repository to a git one. I also need
to update capistrano (up to date mentality of the company). We use capistrano to deploy perl and other scripts to remote servers of various clients. Scripts are deployed via jenkins (custom plugin written in Java) which collects parameters from user via gui  and sends them as -s params to the c

[2017-03-17 16:20] mattbrictson commented on #807
@rmansnacks Sorry to hear that! You might check [Stack Overflow](http://stackoverflow.com/questions/tagged/capistrano) to see if other Capistrano users have come up with creative workarounds. Good luck!

[2017-03-19 01:40] stepheneb commented on #1686
Appreciate the link to this issue when I tried to invoke a task twice.

Here's an example where I found it useful.

I'm running passenger:restart a second time because I'm persisting the database in the shared directory and I'm extending the rollback task to restore the production database that was saved in the previous releases  db/ directory.

file: lib/capistrano/tasks/deploy.rake
[code]

[2017-03-20 00:15] mattbrictson commented on #1865
Fun fact: `cap -T` only worked in this scenario due to a happy accident involving the capistrano-harrow gem. Now that capistrano-harrow has been removed, `cap -T` is broken again. 😄

I should have a fix for this figured out soon.

[2017-03-20 03:42] #1865 closed

[2017-03-20 08:28] seggen-ibuildings commented on #1865
😎

[2017-03-20 08:42] rmansnacks commented on #1760
Well it's really difficult specially when you don't know any ruby and you are forced to use this tool. I struggled to configure my first cap task because of this. I think it would be nice to get a little bit of "obvious" explanation about syntax and use cases.

[2017-03-20 14:06] mattbrictson commented on #1760
Thanks for the feedback, @rmansnacks. I agree it is a hard tool to approach if you don't know Ruby.

BTW, what situation forced you to use Capistrano? I'm always curious to hear how people are using this project.

[2017-03-21 15:06] hcatlin commented on #1693
👋  from someone in March 2017 with this issue! :)

[2017-03-21 15:10] leehambley commented on #1693
Sorry @hcatlin - [Support for Ruby version 1.9.3 will end on February 23, 2015](https://www.ruby-lang.org/en/news/2014/01/10/ruby-1-9-3-will-end-on-2015/)!

[2017-03-21 15:16] leehambley commented on #1693
Also, what's a fine, upstanding member of the Ruby community such as yourself doing playing with stone-age tooling?!

[2017-03-22 12:06] borenho opened #1869 "linked file /shared/config/database.yml does not exist on IP"
Hi everyone
I don't know if this is a bug or what. But I have my linked_files and linked_dirs set correctly, I suppose, as in
`append :linked_files, 'config/database.yml', 'config/secrets.yml'` and
`append :linked_dirs, 'log', 'tmp/pids', 'tmp/cache', 'tmp/sockets', 'public/system'` on `deploy.rb`.

`cap production deploy:check:linked_dirs` runs successsfully, but
`cap production deploy:check:link

[2017-03-22 12:20] will-in-wi commented on #1869
From what I'm seeing in your report, I'm guessing that this is a configuration issue of some kind, not a bug. Per https://github.com/capistrano/capistrano/blob/master/CONTRIBUTING.md, you'll probably get better support by posting on Stack Overflow.

If this does turn out to be a bug, feel free to post back here.

Offhand, I'd double-check the permissions of the file, and that you're looking in the

[2017-03-22 12:20] #1869 closed

[2017-03-23 09:07] borenho commented on #1869
Thanks for that correction @will-in-wi , it was indeed a missing leading slash in my local `deploy.rb`. I was editing my remote `deploy.rb` not knowing that `cap production deploy` compiles from your local machine.

[2017-03-24 10:00] kperry42 opened #1870 "Problems when remote user has tcsh or csh as default shell"
I'm attempting to upgrade from Cap 2.x to Cap 3.x - everything worked fine in 2.x.  With version 3, I'm seeing the following issue:  For legacy reasons, the account I'm using on the remote servers that I'm deploying to has tcsh as its login shell.  I set a couple of envars in :default_env in my config/deploy.rb.  When I run, say, "cap dev deploy", it fails.

Every command that it tries to execute

[2017-03-24 10:17] leehambley commented on #1870
FWIW from a friend who happend to have an example to hand:

[code]

Non the less, according to the IEEE Standard 1003.1 (POSIX, 2004) `export` is standard, and the syntax for redirection is specifiied in the same document

 - http://pubs.opengroup.org/onlinepubs/007904975/utilities/export.html
 - http://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html#tag_02_07

I'm hesitant to ta

[2017-03-24 16:07] mattbrictson commented on #1870
Wow, I had no idea that (t)csh was so different! Sounds like we should mention that Capistrano assumes an `sh` style shell prominently in the documentation.

[2017-03-27 13:26] kperry42 commented on #1870
Yes it would be great if there was prominent mention of this fact in the doc.  I'd suggest putting it on the "Converting from 2.x" page and also somewhere in the normal flow of instructions on getting started.

Declaring that a POSIX shell is a requirement does seem reasonable, when you put it in those terms. Although, even if I had found that statement in the docs, I probably wouldn't have clued

[2017-03-27 15:39] mattbrictson commented on #1870
@kperry42 Thanks for the feedback. Would you be willing to make a first pass at those changes? Our documentation is Markdown files, and source for the "Converting from 2.x" page is here: https://github.com/capistrano/capistrano/blob/master/docs/documentation/upgrading/index.markdown

I'd appreciate a PR if you have time!

[2017-03-29 22:30] kolyadin opened #1872 "Env set :default_env does not work"
Gemfile.lock:

[code]

[code]

Printed:

01 php -v
      01 PHP 5.5.38 (cli) (built: Dec 10 2016 19:31:59)

Expected
01 php -v
      01 PHP 7.1.3 (cli) (built: Mar 18 2017 19:23:29) ( NTS )

echo $PATH

01 echo $PATH
      01 /usr/local/bin:/bin:/usr/bin
Expected:

/opt/php/php-7.1.3/bin:/usr/local/bin:/bin:/usr/bin

[2017-03-29 23:03] mattbrictson commented on #1872
`:default_env` (as well as many other options) will only be applied if you are passing a symbol to `execute`. In other words:

[code]

This is covered in the [Basic Usage section of the SSHKit README](https://github.com/capistrano/sshkit#basic-usage):

Although I sympathize – this is one of the more esoteric aspects of Capistrano. If you have any suggestions on how this can be better documented, l

[2017-03-29 23:03] #1872 closed

[2017-03-29 23:54] kolyadin commented on #1872
Thanks!

[2017-04-04 12:28] kfrapin opened #1873 "Protect mounted points when cleaning up"
Do you think it will be interesting to have a capistrano option to protect the deletion of mounted points?

Let me give you a scenario:
  - You have a deploy task which is in charge to mount a distant directory (like a nas)  into the current release directory
  - You may have a task for umounting that folder in the previous release when deploying a new release
  - If the task for umounting failed

[2017-04-04 12:48] leehambley commented on #1873
I don't know how much of a problem this is in the wild. Capistrano has been around 8 years and it's never come up so far, however NFS just won't go away, so anything is possible :)

What's always important to remember is that we could simply add the `--one-file-system` option to `rm` but it should be protected by a feature flag. We really don't like config flags because they're all in a flat names

[2017-04-04 14:48] mattbrictson commented on #1873
This sounds like the perfect use case for the [command map](https://github.com/capistrano/sshkit#the-command-map). Could you add an entry to the map for `:rm` to add the `--one-file-system` flag?

[2017-04-04 15:52] kfrapin commented on #1873
@leehambley yes, you're right about the multiple implementations, and a simple patch do the trick.  not sure this option has it place into the capistrano core

@mattbrictson this way seems to be the good one, but I don't really see how to use the `map` command, the documentation indicates how to add prefix, but not an option

should I do something like this : `SSHKit.config.command_map[:rm] = "rm

[2017-04-04 16:39] mattbrictson commented on #1873
Yes, exactly. Put that in your `deploy.rb`.

[2017-04-05 07:32] kfrapin commented on #1873
I will give it a try and let you know if it works properly  ;)

[2017-04-05 16:09] kfrapin commented on #1873
Yes the addition of `SSHKit.config.command_map[:rm] = "rm --one-file-system"` in the `deploy.rb` file do the trick :)

When deploying I can see the remotely executed command :
[code]

And if a mounted point is still in place, it will be skipped by the `rm` command

Thanks for your help!

[2017-04-05 16:09] #1873 closed

[2017-04-12 21:48] BentCoder opened #1876 "Cannot set custom Capistrano configuration paths"
Hi,

I'm trying to change the default folder structure (as shown below) by implementing [How can I set Capistrano configuration paths?](http://capistranorb.com/documentation/faq/how-can-i-set-capistrano-configuration-paths/). However, everytime I run `cap install` default folders structure gets created again. Is there some kind of cache?

Thanks

**Default** *unwanted*
[code]

**Aiming at**
[code]

[2017-04-13 00:35] mattbrictson commented on #1876
Hi, thanks for the report.

To my knowledge it is not possible to configure the behavior of `cap install`. When you run `cap install`, it always builds out the default directory structure. `cap install` is supposed to be run before a `Capfile` even exists, so there is no place to put any configuration for it.

However, what you *can* do is configure where Capistrano looks for the `deploy.rb` and s

[2017-04-13 00:36] mattbrictson commented on #1876
Also: we're always looking for contributors to improve the docs. If you feel the documentation is misleading in this case, please feel free to open a PR.

[2017-04-13 08:41] BentCoder commented on #1876
So what you're saying is, we should create the structure manually rather than expecting `cap install` to do it for us. I'll try it tomorrow and see what happens first then close this issue if it works. Thanks for the info.

[2017-04-13 20:07] BentCoder commented on #1876
As you said, it worked perfectly fine so thank you again for enlighten me.

[2017-04-13 20:07] #1876 closed

[2017-04-15 10:06] BentCoder opened #1877 "[Question] Passing array as an argument to a custom built before/after hook task"
Hi,

I've seen example below on web but wasn't able to get answers for some questions so I'm afraid I'll have to bother you guys. I do apologise for it though! My background with ruby and capistrano is about 3 days.

Thanks

- What does `second_param` do?
- Why does output contain `command`?
- How can I simplify the example? My aim is simple: pass an array argument to task and loop through it. May

[2017-04-15 12:03] will-in-wi commented on #1877
Without a lot more specifics, it's quite difficult to answer your question. I'd suggest reading about how Rake works, and how Capistrano works in the documentation. If you need further help, a specific example would be easier to answer.

---

GitHub issues are for feature requests or bug reports. Since this is more of a how-to question, I am closing this issue. The Capistrano team recommends you u

[2017-04-15 12:03] #1877 closed

[2017-04-16 10:25] yskkin opened #1878 "Provide config for timezone of release timestamp"
Directory names under `release_path` is formatted in UTC.
It would be better if we have config for changing timezone like `set :release_timestamp_zone, "+09:00"` since that makes manual administrative tasks more intuitive.

# Current workaround

[code]

[2017-04-16 10:26] BentCoder opened #1879 "Unable to reference staging variables in deploy.rb"
I wonder if this is a bug!

I'm unable to reference `stage_artifacts` variable of "staging.rb" from within "deploy.rb" with `*fetch(:stage_artifacts)`. However, if I define `stage_artifacts` in "deploy.rb" itself then I can reference to it as well as within "deploy/tasks/my.rake" file.

[code]

**Capfile**

[code]

**deploy/deploy.rb**
[code]

**deploy/stages/staging.rb**
[code]

[2017-04-16 13:33] yskkin commented on #1878
I'm ready for opening up a PR if this is avaiable :smile:

[2017-04-17 03:42] mattbrictson commented on #1879
Hi, thanks for the report!

This is not a bug. It is by design that `deploy.rb` is loaded first, and then your selected stage file is loaded second to *override* your deploy.rb with stage-specific values.

Perhaps you'd be better served with a pattern like this:

[code]

In other words, set a default value for `:artifacts` in `deploy.rb`, and then you can append to it in `staging.rb`.

Hope that h

[2017-04-17 03:42] #1879 closed

[2017-04-17 08:00] BentCoder commented on #1879
Got it and it works perfectly fine. Thanks.

[2017-04-17 08:42] robd commented on #1824
I just ran into this and I found the experience rather annoying. Specifically:

a) That the Git repo integration has been removed from the core necessitating me changing my Capfile
b) That I had to guess where to put the lines in the Capfile
c) That when I did this and put the lines where it made sense to me (ie as close to the `capistrano/setup` line as possible) I got it wrong and the error mess

[2017-04-18 07:50] leehambley commented on #1878
I'm opposed to introducing new top-level configuration variables. This is an elegant workaround however.

[2017-04-18 07:53] leehambley commented on #1824
Thanks for the feedback @robd. We discussed a lot whether a little configuration was better than some implicit magic, and settled upon clarity through explicit definition vs. magical inference of the should-be settings.

I appreciate the alternative point of view but don't feel compelled to change anything, but I'll let the issue stand to allow the others to weigh-in with their opinions.

[2017-04-19 02:24] mattbrictson commented on #1824
I'd like to keep the discussion here focused on fixing the issue at hand, which is a hiccup during the upgrade due to the fact that:

1. It is not clear where in the Capfile the lines should be added
2. There isn't a good error message when they are put in the wrong place
3. As much as possible Capfile *shouldn't care* where the lines are placed

I think most if not all of these problems can be ea

[2017-04-19 03:45] mattbrictson opened #1880 "Capistrano should "just work" for git and installed gems with no extra Capfile configuration"
@robd made an interesting suggestion in https://github.com/capistrano/capistrano/issues/1824#issuecomment-294432884, which I am pasting below. Let's use this thread to discuss this idea specifically, as well as the more general notion that Capistrano should do more "out of the box" instead of requiring explicit configuration.

/cc @will-in-wi @leehambley

---

FWIW, I think that making people choo

[2017-04-19 03:46] mattbrictson commented on #1880
Related:

https://github.com/capistrano/capistrano/issues/1651 Feature: `cap install` should pre-populate deploy.rb :repo_url, if .git repo is detected

[2017-04-19 06:16] yskkin commented on #1878
Thank you for your response.
I thought top-level configration was OK since this is going a same way as #1818.

Is exposing timestamp setter OK for you?
Then I can write `Capfile` like this:

[code]

[2017-04-20 15:31] rsiddle opened #1881 "Using doas or su instead of sudo"
It would be useful to have a figuration for using either `sudo` or `doas` which is used in OpenBSD.

Is there any easy way of overriding all `sudo` commands to be `doas` or switching the user using `su`?

[2017-04-20 16:35] mattbrictson commented on #1881
Hi, thanks for the suggestion. I think this is already possible with the [SSHKit command map](https://github.com/capistrano/sshkit#the-command-map).

[code]

[2017-04-23 09:44] robd commented on #1824
Hey - sorry for the delay in getting back about this. @mattbrictson Thanks very much for raising the new issue.

I have had a crack at a PR (#1882) to fix this, but I have recently rebuilt my machine so I couldn't run the build at this point. I eyeballed the features and I didn't see any for this message so perhaps this could be merged as is? If not I can work on getting vagrant etc set up. Let me

[2017-04-23 10:42] robd commented on #1880
@mattbrictson Thanks very much for raising this.

I don't know the ins and outs of it, but my gut feel is that for a given project there is only one 'correct' set of Capfile lines and order they should be included in. Do you think that's correct? Are there common cases where, for example people would want more then one SCM to be included? Or where people would want to include `capistrano/deploy` w

[2017-04-24 15:55] mattbrictson commented on #1824
Now that #1882 and #1828 and merged, I'll consider this issue closed.

[2017-04-24 15:55] #1824 closed

[2017-04-24 23:06] mattbrictson commented on #1880
I don't want to shoot down the idea of auto-loading plugins, because I think simplifying things for the users is a good goal. But here are the challenges that I think we would run into:

1. Just because a gem is installed on my system doesn't necessarily mean I want to load it. I may use Capistrano for two different projects, each requiring a different subset of gems.
2. How will Capistrano know w

[2017-04-25 02:27] mattbrictson commented on #1878
I think UTC is the right thing to do here, so I am not really motivated to add time zone as a configuration option to Capistrano itself. It looks like you already have a good workaround, so I am inclined to close this issue.

Just curious, though, could explain more about your use of the `release_path`? What sort of manual administration tasks use this file? Perhaps there is another feature hiding

[2017-04-25 02:36] mattbrictson commented on #1881
If the command map solution didn't work for you, let me know and we'll reopen this issue.

[2017-04-25 02:36] #1881 closed

[2017-04-25 07:42] yskkin commented on #1878
I understand that we don't need a config for timezone.
But please consider adding `attr_writer :timestamp` to `configration.rb` so that I can write `env.timestamp = Time.now`.

As for my use case, I need to check when deployment is done from `revisions.log`
in order to investigate regression or check last deployment time to judge which commit is deployed and which is not.
Local time is more comfor

[2017-04-25 07:42] #1878 closed

[2017-04-25 13:02] leehambley commented on #1878
Using your workaround (and not making the [timestamp](https://github.com/capistrano/capistrano/blob/7ba6e446ff4f517814d8e5a79710aa122a8b9064/lib/capistrano/configuration.rb#L109-L111) makes me more comfortable.

Exposing it as part of the "public" api encourages its use, whereas relying on Ruby's dynamic properties to workaround this is feel is a clear enough signal that we can't recommend people

[2017-04-26 02:53] yskkin commented on #1878
I understand. Thank you for clarification.

[2017-04-26 14:03] mattbrictson opened #1884 "Better explain how to specify server-side environment variables"
Applications deployed with Capistrano often need to have secret keys, database URLs, etc. specified via environment variables. This comes up a lot on Stack Overflow and should be better explained in the official Capistrano docs.

**capistrano + sidekiq / unable to pick environments variables**
http://stackoverflow.com/a/43614787/4625365

**Capistrano and API keys in ENV variables?**
http://stackov

[2017-04-26 14:04] leehambley commented on #1884
@mattbrictson good point… do we literally mean https://12factor.net/, or more in the direction of "how to get secrets onto a server without putting them in plaintext in the repo" ?

[2017-04-26 14:05] mattbrictson commented on #1884
I think pointing to 12 Factor is good, because we don't necessarily want to be in the business of completely documenting everything relating to deployment. But additionally I think some concrete examples would help.

[2017-04-27 19:54] robd commented on #1880
Thanks very much for providing this input. I certainly hadn't thought through any of these cases and I imagine that there is a very long tail of people using Capistrano in unusual ways.

I agree that detecting which Gems are loaded at runtime would be too dangerous. One option might be for a user to specify a Gemfile from which to load the dependencies, or autodetect a Gemfile in the same director

[2017-04-27 21:08] will-in-wi commented on #1880
Just as a thought, I used to have a Capistrano deployed repo using SVN which I used the Git client to interact with. This isn't an especially uncommon workflow.

[2017-04-28 13:33] fields opened #1885 "Capistrano failed deploy is removing previous releases"
We have a capistrano deployment that is failing from one location because it cannot access the repository on github because of key issues (other users can run the deploy just fine). Whenever this deploy runs, it never gets to the point where it creates a new release directory, but it still sees the release as failed and rolls back the last previous one which was deployed successfully by someone el

[2017-04-28 13:34] leehambley commented on #1885
Please clarify. If I understood what you're saying we're rolling back to `-2` when we should only be rolling back `-1`?

[2017-04-28 13:43] mattbrictson commented on #1885
Thanks for opening an issue. Can you help us by giving the version number of Capistrano you are using? If possible, please also post the output of the `cap production doctor` command, with any sensitive information redacted.

[2017-04-28 14:13] fields commented on #1885
@leehambley the rollback here should just do nothing, because a new release directory was not created as part of this deploy. Instead, it's taking the previous release and rolling _that_ back.

[2017-04-28 14:13] fields commented on #1885
@mattbrictson This is capistrano 3.7.1. I will get that output for you.

[2017-04-28 14:21] mattbrictson commented on #1885
To my knowledge Capistrano 3.7 does not automatically rollback on a failed release. Is there a step you didn't mention in your issue description? Are you running `rollback` explicitly? With what arguments? Thanks!

[2017-04-28 14:24] fields commented on #1885
@mattbrictson Hmmm. I inherited some of this config, and it does have:

[code]

[2017-04-28 14:26] fields commented on #1885
There is a lot of sensitive stuff in the variable section for cap doctor. Here is the environment and gems:

[code]

If there's something else specific you're looking for, let me know.

[2017-04-28 14:48] robd commented on #1880
@will-in-wi This is an interesting use case. Just to make sure I understand - do you mean that if we detected a .git directory and added the git SCM plugin, this would be incorrect for you because you need the svn one?

I have no idea what percentage of people are set up in this mode. Do you have a feel for if it's 1 in 10 or 1 in 100?

[2017-04-28 16:14] will-in-wi commented on #1885
I'd remove `after :failed, :rollback`. Rollback assumes that the current symlink has been switched to the new release, and (IMO) is usually intended to be run manually.

[2017-04-28 16:18] will-in-wi commented on #1880
That would be correct, however I'm guessing it's closer to 1 in 100,000. It's just an extreme edge case. Not many people use Capistrano with SVN anymore.

[2017-04-28 16:32] mattbrictson commented on #1885
Agreed. `after :failed, :rollback` is a clever hack but it does not work. Capistrano's `rollback` task is [very basic](http://capistranorb.com/documentation/getting-started/rollbacks/) and meant to be run manually as a separate command. It does not know why the deploy failed, which part of the deploy failed, or even which servers failed; it is a very blunt instrument.

In your case, if the git che

[2017-05-02 15:41] mattbrictson commented on #1880
So far I don't think the changes that have been suggested are compelling enough. If we make things easier for users in this case we are simply moving complexity elsewhere (e.g. into `capistrano/auto_setup`). My gut feeling is that managing the transition and maintaining backwards-compatibility will be hard.

In retrospect, perhaps the SCM changes in 3.7 were too drastic for a project of Capistrano

[2017-05-04 09:09] fanjieqi opened #1886 "Question: 'execute' should be wrapped in an 'on' scope in lib/capistrano/dsl.rb:38"
Excuse me, when I deployed, I got a warning and the deploy aborted:

[code]

I'm a little confused about the code in 『def sudo(*args)』method. It works when I changed it like this:

[code]

Or is there something I get wrong?

[2017-05-05 01:24] mattbrictson commented on #1886
Hi, thanks for the report. This looks like it is a bug in the `capistrano3-puma` gem. It has already been filed here: https://github.com/seuros/capistrano-puma/issues/227

[2017-05-05 01:24] #1886 closed

[2017-05-08 16:04] deivid-rodriguez commented on #1880
Hi! Sorry if this is not the right place to ask for this, but... How should plugins catch up with this change? I just realized that [capistrano-pending](https://github.com/a2ikm/capistrano-pending) broke for me after I upgraded to 3.7 and removed the `:scm` setting, since the setting is used [here](https://github.com/a2ikm/capistrano-pending/blob/master/lib/capistrano/pending/tasks/pending.rake#L1

[2017-05-08 16:10] mattbrictson commented on #1880
@deivid-rodriguez sorry, I am not familiar with capistrano-pending. I suggest opening an issue in that repo and hopefully the author or current maintainer can take it from there.

[2017-05-08 16:37] deivid-rodriguez commented on #1880
The plugin seems a bit abandoned so I was hoping to get some clue so I can provide a PR. Anyways, done: https://github.com/a2ikm/capistrano-pending/issues/7. Thanks!

[2017-05-10 09:45] robd commented on #1880
@mattbrictson Thanks for taking the time to discuss this stuff. It doesn't sound like there is anything else to do here at this stage, so closing.

[2017-05-10 09:45] #1880 closed

[2017-05-15 13:52] andrecavallari commented on #1754
I am also having same issue, any workaround??

[2017-05-15 14:19] cefigueiredo commented on #1884
I think that the most troublesome is that Capistrano deploys don't use `.bashrc` or `.bash-profile` (not sure about others shells...)
That turns difficult setup things... often being necessary a tool like https://github.com/laserlemon/figaro to setup environment variables on `shared/config` folder

[2017-05-15 14:30] leehambley commented on #1754
This is an eight month old issue, it's unlikely to be relates, are you using the most up to date version @andrecavallari ?

[2017-05-15 14:32] leehambley commented on #1884
@cefigueiredo it's by design, after years of hard to diagnose issues that we specifically document why not handling shell init files. Capistrano has always walked a fine line between a deployment tool., and a provisioning tool. Handling shell init files makes the process more difficult than it ought to be and causes more harm than good. We find in general, that people who find this to be a problem